::: slot last-page-heading
<div class="float-left" style="width: 40mm; height: 37mm; shape-outside: polygon(0 0, 40mm 0, 10mm 100%, 0 100%);"></div>
<h2 class="my-2">stranica pravopis prst.</h2>
<p class="my-2">Ako još uvijek imate upotrebu svoje ruke, onda je to stranica za vas.
  Pokazujući prstom možete sricati riječi i fraze s partnerom.
  Često upotrebljavane riječi mogu biti napisane na prazne okvire.
  Ukazujući na riječ<strong class="bold">" DOM ​​"*</strong>ukazuje na vašem partneru da vas sada
  žele komunicirati sa svojim očima pomoću glavnog knjigu.</p>
:::

::: slot last-page-content
<div class="flex-v block-holder b13x" style="--block-width:13mm;--block-height:13mm;">
  <Content slot-key="last-page-heading" />
  <div class="flex-v mt-2"> <!-- split between letters keys and others -->
    <div class="flex-h">
      <div class="flex-v block-holder b5x" style="--block-width:13mm;--block-height:17mm;">
        <div class="block b0x flex-grow-1" style="margin-left: 8mm;"></div>
        <div class="block b5x"></div>
        <div class="block b5x"></div>
        <div class="block b5x"></div>
        <div class="block b5x"></div>
        <div class="block b5x"></div>
        <div class="block b5x"></div>
        <div class="flex-h flex-wrap" style="--block-width:13mm;--block-height:13mm;">
          <div class="block">{{ $page.frontmatter.text._GBP }}</div>
          <div class="block">{{ $page.frontmatter.text._USD }}</div>
          <div class="block">{{ $page.frontmatter.text._percent }}</div>
          <div class="block">.</div>
          <div class="block">{{ $page.frontmatter.text._plus }}</div>
          <div class="block">{{ $page.frontmatter.text._minus }}</div>
          <div class="block">{{ $page.frontmatter.text._slash }}</div>
          <div class="block">{{ $page.frontmatter.text._X }}</div>
          <div class="block">{{ $page.frontmatter.text._equal }}</div>
          <div class="block">{{ $page.frontmatter.text._question_mark }}</div>
        </div>
        <div class="block b5x white-color black-bkg">{{ $page.frontmatter.text.HOME }}</div>
      </div>
      <div class="flex-v block-holder b4x" style="--block-width:13mm;--block-height:17mm;">
        <div class="block b4x">
        </div>
        <div class="flex-grow-1"></div>
      </div>
      <div class="flex-v block-holder b5x" style="--block-width:13mm;--block-height:17mm;">
        <div class="block b5x"></div>
        <div class="block b5x"></div>
        <div class="block b5x"></div>
        <div class="block b5x"></div>
        <div class="block b5x"></div>
        <div class="block b5x"></div>
        <div class="block b5x"></div>
        <div class="flex-h flex-wrap" style="--block-width:13mm;--block-height:13mm;">
          <div class="block pink-bkg">{{ $page.frontmatter.text._one }}</div>
          <div class="block pink-bkg">{{ $page.frontmatter.text._two }}</div>
          <div class="block pink-bkg">{{ $page.frontmatter.text._three }}</div>
          <div class="block pink-bkg">{{ $page.frontmatter.text._four }}</div>
          <div class="block pink-bkg">{{ $page.frontmatter.text._five }}</div>
          <div class="block pink-bkg">{{ $page.frontmatter.text._six }}</div>
          <div class="block pink-bkg">{{ $page.frontmatter.text._seven }}</div>
          <div class="block pink-bkg">{{ $page.frontmatter.text._eight }}</div>
          <div class="block pink-bkg">{{ $page.frontmatter.text._nine }}</div>
          <div class="block pink-bkg">{{ $page.frontmatter.text._zero }}</div>
          <div class="block b5x yellow-bkg" style="font-size: 18pt;--block-height:17mm;">{{ $page.frontmatter.text.THANK_YOU }}</div>
        </div>
      </div>
    </div>
    <div class="flex-h flex-wrap" style="--block-width:13mm;--block-height:13mm;">
      <div class="block cyan-bkg">{{ $page.frontmatter.text.Q }}</div>
      <div class="block cyan-bkg">{{ $page.frontmatter.text.W }}</div>
      <div class="block cyan-bkg">{{ $page.frontmatter.text.E }}</div>
      <div class="block cyan-bkg">{{ $page.frontmatter.text.R }}</div>
      <div class="block cyan-bkg">{{ $page.frontmatter.text.T }}</div>
      <div class="block cyan-bkg">{{ $page.frontmatter.text.Z }}</div>
      <div class="block cyan-bkg">{{ $page.frontmatter.text.U }}</div>
      <div class="block cyan-bkg">{{ $page.frontmatter.text.I }}</div>
      <div class="block cyan-bkg">{{ $page.frontmatter.text.O }}</div>
      <div class="block cyan-bkg">{{ $page.frontmatter.text.P }}</div>
      <div class="block cyan-bkg">{{ $page.frontmatter.text.S2 }}</div>
      <div class="block cyan-bkg">{{ $page.frontmatter.text.D2 }}</div>
      <div class="block cyan-bkg">{{ $page.frontmatter.text.Z2 }}</div>
      <div class="block cyan-bkg" style="margin-left: 12mm;">{{ $page.frontmatter.text.A }}</div>
      <div class="block cyan-bkg">{{ $page.frontmatter.text.S }}</div>
      <div class="block cyan-bkg">{{ $page.frontmatter.text.D }}</div>
      <div class="block cyan-bkg">{{ $page.frontmatter.text.F }}</div>
      <div class="block cyan-bkg">{{ $page.frontmatter.text.G }}</div>
      <div class="block cyan-bkg">{{ $page.frontmatter.text.H }}</div>
      <div class="block cyan-bkg">{{ $page.frontmatter.text.J }}</div>
      <div class="block cyan-bkg">{{ $page.frontmatter.text.K }}</div>
      <div class="block cyan-bkg">{{ $page.frontmatter.text.L }}</div>
      <div class="block cyan-bkg">{{ $page.frontmatter.text.C2 }}</div>
      <div class="block cyan-bkg">{{ $page.frontmatter.text.C3 }}</div>
      <div class="block b2x yellow-bkg" style="margin-left: 12mm;">{{ $page.frontmatter.text.YES }}</div>
      <div class="block cyan-bkg">{{ $page.frontmatter.text.Y }}</div>
      <div class="block cyan-bkg">{{ $page.frontmatter.text.X }}</div>
      <div class="block cyan-bkg">{{ $page.frontmatter.text.C }}</div>
      <div class="block cyan-bkg">{{ $page.frontmatter.text.V }}</div>
      <div class="block cyan-bkg">{{ $page.frontmatter.text.B }}</div>
      <div class="block cyan-bkg">{{ $page.frontmatter.text.N }}</div>
      <div class="block cyan-bkg">{{ $page.frontmatter.text.M }}</div>
      <div class="block b2x yellow-bkg">{{ $page.frontmatter.text.NO }}</div>
    </div>
  </div>
</div>
:::
