::: slot inst-01-flt-right-content
<div class="abs-fill-parent flex-h" style="align-items: flex-end;">
  <div class="flex-grow-1"></div>
  <div class="flex-v">
    <img class="m-1" style="width: 58.5mm; height: 79.7mm; box-sizing: border-box;" :src="$withBase('/speakbook/images/01.png')"  />
    <div class="m-1 p-1 flex-grow-1 flt-box" style="width: 57.5mm; min-height: 79.7mm; box-sizing: border-box;">
      <h3 class="my-1 fsize-5">Ungabhala kanjani kwi-speakbook </h3>
      <p class="my-2 fsize-4_5"> Ukuthi ngqo okubhalile encwadini yokukhuluma kuzoncika kuzidingo zakho ezithile, kepha noma ngabe yini oyibhalayo, kubalulekile ukuthi uhlangothi ngalunye lwaleli khasi eli-2 elisakazwayo linombhalo ofanayo kulo, nokuthi bangumfanekiso wesibuko womunye nomunye - njengasekuqaleni kwesibonelo ngenhla. Ngabe wena nomuntu wakho nikhuluma izilimi ezahlukahlukene? Akunankinga - vele ubhale ulimi oluhlukile ngasohlangothini zombili. </p>
    </div>
  </div>
</div>
:::
::: slot inst-01-content
<div class="p-1 text-center">
  <SpeakBookTextFourColorBkg class="speakbook-title fsize-10 p-1 bold" :text="$page.frontmatter.text.SPEAKBOOK"></SpeakBookTextFourColorBkg>
</div>
<p> I-speakerbook iyithuluzi lokuxhumana elingelona elomlomo kubantu abangakwazi ukukhuluma futhi banobunzima bokusebenzisa izandla noma izingalo, kepha abakwazi ukusebenzisa amehlo abo. Lolu hlobo lwenzelwe abantu abakwazi ukufunda nokupela. Okwezinhlobo zabantu abangafundanga, izinhlobo zolimi lwakwamanye amazwe, kanye nohlobo lwephakethe, vakashela <b>acecent.re/speakbook</b> </p>
<h2 class = "fsize-6"> Imiyalo yokusebenzisa. </h2>
<p> Ukuze uqalise, uzodinga; incwadi yokukhuluma, ipeni elimnyama lebhodi, indwangu yokuhlikihla, kanye nomlingani okhuluma naye.
<p>
Wena nomuntu enikhuluma nonke nihlala maqondana komunye nomunye lehlukane cishe ngamamitha amathathu. Ngokuya ngamehlo akho, ungehlisa noma wengeze leli banga. Vula incwadi yokukhuluma ekhasini lokuqeqeshwa ngaphakathi kwekhava engemuva. Lokhu kugcwaliswe ukukusiza ufunde isisekelo samasu. Lapho usuwazi kahle, ungabhala amakhasi akho, usebenzisa 
 amakhasi  owanikezwe angenalutho. Goqa le ncwadi ngendlela okumele ime ngayo futhi uyibambe phakathi naphakathi kwenu nobabili nibheke nonke ekhasini ‟lokuziqeqesha‟, futhi nikwazi ukubonana ngamehlo omunye nomunye ngesikhala kumbe imbobo ephakathi. Manje bheka izinqumo ezisekhasini ukhethe ukuthi yiphi okufanele uyixoxe. Lapho usuthathe isinqumo, khombisa umlingani wakho ukuthi usukulungele ukuqala
- lokhu kungaba yikukubheka umlingani wakho noma ukucwayiza, noma ngokugoba amehlo akho phezulu naphansi - noma yini ekufanele. Bese ubheka umlayezo owufunayo, umzuzwana noma ngaphezudlwana kwawo, olandelwa luphawu olukhulu olucishe lufane nalo oluseceleni komyalezo. Umlingani wakho ulandela ukunyakaza kwamehlo akho - ngokwesibonelo angabona ukuthi ubheke ngakwesokunxele phezulu kwebhodi elandelwa unxantathu omkhulu, ngakho uyazi ukuthi kufanele  asho athi „inkomishi yetiye!‟. Ube esethi, “inkomishi yetiye!” ngezwi elikhulu, futhi uqinisekisa lokhu ngokucwayiza, noma enye indlela ehlelwe ngaphambili
</p>
<p> Le yindlela elula yokusebenzisa i-speakbook. Manje udinga ukufunda ukuthi ungawasebenzisa kanjani amanye amakhasi asencwadini, ngoba ubuhlakani be-speakbook  bukunikeza imitsho engadlula amakhulu ongazikhethela yona njalo ukwazi 1lokuyintshintsha nganoma yisiphi isikhathi ngokuhlikihla ngendwangu emanzi noma ukukhansela ngepeni. </p>
:::
::: slot inst-02-flt-right-label
<div class="pos-rel fill-height fill-width">
  <img class="abs-fill-parent" :src="$withBase('/speakbook/shapes/inst-02-right-label-bkg.svg')" />
  <div class="fsize-8 abs-at-center" style="transform: translate(calc(-50% + 5mm), calc(-50% - 5mm)) rotate(45deg); color: white;width: 42mm;text-align: center;">{{ $page.frontmatter.text.instructions }}</div>
</div>
:::

::: slot inst-02-flt-left-content
<div class="flex-h" style="padding: 3mm;">
  <div class="flex-grow-1 flex-v">
    <img class="m-1" style="width: 57.5mm; height: 79.7mm; box-sizing: border-box;" :src="$withBase('/speakbook/images/02.png')"  />
    <img class="m-1" style="width: 57.5mm; height: 79.7mm; box-sizing: border-box;" :src="$withBase('/speakbook/images/03.png')"  />
  </div>
  <Content slot-key="cut-out-center-guide" />
</div>
:::
::: slot inst-02-content
<p> Ikhasi ngalinye lencwadi yokukhuluma linezigaba eziyi-14 noma eziyi-15 ezingenalutho ongabhala ngazo umbhalo wakho. Ukuze umsebenzisi akwazi ukuhamba phakathi kwamakhasi ahlukile, sidale ikhasi le- „home‟. Lokhu kutholakala ngaphambili kwencwadi, futhi kumakwe ngethebhu emnyama „IKHAYA‟ ekugcineni kwekhasi. Umqondo uwukuthi ubhale imishwana eyi-7 oyisebenzisa kakhulu kuleli khasi, ngoba liyikhasi oqala ngalo njalo. Futhi, kumakhasi ayisishiyagalombili angenalutho ubhala izixhumanisi kwamanye amakhasi ayi-8 angenalutho. Lezi kufanele kube yizingxenye zempilo yakho ezidinga imishwana esezingeni elijulile, lezi zingaba yizindawo ezinjengokugeza, noma ukuphuma emotweni. Ngakwesobunxele yisibonelo sesakhiwo esingenzeka sekhasi le- „IKHAYA‟. Amagama ayi-8 ngezinhlamvu eziyinhlanganisela ezinesibindi azixhumanisi zokusakazwa kwamakhasi okuphindwe kabili kwenye indawo encwadini. Lokho okwenzayo nje, uthola ikhasi elingenalutho bese ubhala, ngokwesibonelo, ED BED ‟ekhasini lesiphelo, bese emapheshana ubhala imishwana eyi-14 efaneleke kakhulu kunqubo yakho yokulala. Ngemuva kwalokho uphinda le nqubo kwezinye izixhumanisi eziyi-7, kuze kufike lapho incwadi yakho igcwele. Uma wenza iphutha, noma ufuna ukushintsha ibinzana, mane ulisule ngendwangu emanzi bese uqala futhi. </p>
<p> Ukuze usebenzise i-speakbook, ukhombisa umlingani wakho ukuthi ufuna ukuxhumana. Umlingani wakho uvula incwadi yokukhuluma ekhasini le-„IKHAYA and futhi uyaxhumana, isibonelo,„ BED ‟. Umlingani wakho ube esephendukela ekhasini le-„BED‟ bese ukwazi ukuxhumana, „Ngifuna ukulala‟ - noma yini. Ikhasi ngalinye line- „IKHAYA‟ ne-„Spell‟ ephrintiwe kulo. I- "IKHAYA‟ "ukuze njalo ukwazi ukubuyela ekhasini le-„ IKHAYA ‟(ungahle uthande„ Indebe yetiye! Take ukulala nawe). Ikhasi ‟le-SPELL‟ likuvumela ukuba upele amagama namabinzana angaveli kwenye incwadi. Isebenza ngendlela efanayo namanye amakhasi, ngomehluko owodwa. Kuleli khasi kunamabhlokhethi anemibala ayi-6, ngalinye linonobumba eziyisithupha ezinemibala noma izinombolo kulo. Alfabhethi lonke likhona, nezinombolo 1-9 (ezokusebenzisa u-zero u-O). Ubheka incwadi ofuna ukuyihumusha, okwesibili noma kunjalo, kulandelwe yibhlokhi enemibala yombala ofanayo nencwadi yakho oyikhethile. Umlingani wakho ulandela iso lakho, ubona ukuthi ubuke, ngokwesibonelo, ibhulokhi eliphezulu kwesobunxele elandelwa ibhulokhi ephezulu (okuyinto eluhlaza), futhi uyazi ukuthi ufuna want C ‟. Umlingani wakho uthi „C‟ ngokuzwakalayo ukuze uqinisekise, bese udlulela kunhlamvu olulandelayo. Umlingani wakho uqagela lonke igama lapho kungenzeka, ukusheshisa inqubo. </p><p> I-speakerbook inendawo yemishwana engu-119 oyikhethile. Uma lokhu akwanele, noma uma udinga imishwana engaphezu kuka-14 esigabeni esithile, ungasiphinda kabili isibalo saso ngokubhala imishwana emibili kulayini ngamunye, munye epeni elimnyama, munye ngokubomvu. Ukhetha ibinzana elimnyama ngendlela ejwayelekile, ebomvu ngokunqena lapho ubuka uphawu olukhulu. </p>
:::
