::: slot cover-footer
<div class="flex-h items-align-center lheight-1_5x" style="width: calc(var(--page-width) - 60mm);">
  <p class="cover-footer-text">
    <span class="fsize-7 bold">uhlelo lokuxhumana olungasebenzisi ngamazwi </span> <br>
    <span class="red-color fsize-7 bold">acecent.re/speakbook </span> <br>
    <span class="fsize-4"> I-Talkbook 5th edition © 2011 Patrick Joyce, 2020 Ace Centre </span>
  </p>
  <div class="flex-grow-1"></div>
  <img style="width: 30mm;height: 30mm;" :src="$withBase('/speakbook/images/PublishedByAce.svg')" />
</div>
:::
