@import './variables.scss';
@import './fonts.scss';

html, body {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Montserrat';
}
.bold, h1, h2, h3, h4, h5, h6 {
  font-family: 'Neris-Bold';
}

.page-break { page-break-before: always; clear: both; }

.black-color {  color: var(--color-black); }
.white-color { color: var(--color-white); }
.grey-color { color: var(--color-light-grey); }
.red-color { color: var(--color-red); }
.orange-color { color: var(--color-orange); }
.white-bkg { background-color: var(--color-white); }
.black-bkg { background-color: var(--color-black); }
.purple-bkg { background-color: var(--color-purple); }
.green-bkg { background-color: var(--color-green); }
.cyan-bkg { background-color: var(--color-cyan); }
.yellow-bkg { background-color: var(--color-yellow); }
.orange-bkg { background-color: var(--color-orange); }
.pink-bkg { background-color: var(--color-pink); }

.text-center { text-align: center; }
.wmode-vertical-lr { writing-mode: vertical-lr; }
.float-left { float: left; }
.float-right { float: right; }
@mixin fsize_set ($ext) {
  #{$ext}.fsize-3 { font-size: var(--fsize-3); }
  #{$ext}.fsize-4 { font-size: var(--fsize-4); }
  #{$ext}.fsize-4_5 { font-size: var(--fsize-4_5); }
  #{$ext}.fsize-5 { font-size: var(--fsize-5); }
  #{$ext}.fsize-6 { font-size: var(--fsize-6); }
  #{$ext}.fsize-8 { font-size: var(--fsize-8); }
  #{$ext}.fsize-9 { font-size: var(--fsize-9); }
  #{$ext}.fsize-10 { font-size: var(--fsize-10); }
  #{$ext}.fsize-11 { font-size: var(--fsize-11); }
  #{$ext}.fsize-12 { font-size: var(--fsize-12); }
  #{$ext}.fsize-13 { font-size: var(--fsize-13); }
}
@include fsize_set("");
.rotate-180 { transform: rotate(180deg); }
.rotate-90 { transform: rotate(90deg); }
.height-100pw { height: var(--page-width-content); }
.height-100ph { height: var(--page-height-content); }
.bold { font-weight: bold; }
.line-height-1 { line-height: 1; }
.text-black-stroke-1 { -webkit-text-stroke: 1px var(--color-black); }
.v-oneline-fsize-3 { width: 0.5cm; white-space: nowrap; }
.v-oneline-fsize-8 { width: 0.8cm; white-space: nowrap; }
.v-oneline-fsize-9 { width: 1cm; white-space: nowrap; }
.v-oneline-fsize-10 { width: 1cm; white-space: nowrap; }

.p-1 { padding: 1mm; }
.p-2 { padding: 2mm; }
.p-3 { padding: 3.5mm; }
.p-4 { padding: 5mm; }

.m-1 { margin: 1mm; }
.m-2 { margin: 2mm; }
.m-3 { margin: 3.5mm; }
.m-4 { margin: 5mm; }

.my-1 { margin-top: 1mm; margin-bottom: 1mm; }
.my-2 { margin-top: 2mm; margin-bottom: 2mm; }
.my-3 { margin-top: 3.5mm; margin-bottom: 3.5mm; }
.my-4 { margin-top: 5mm; margin-bottom: 5mm; }
.my-6 { margin-top: 8mm; margin-bottom: 8mm; }

.mx-1 { margin-left: 1mm; margin-right: 1mm; }
.mx-2 { margin-left: 2mm; margin-right: 2mm; }
.mx-3 { margin-left: 3.5mm; margin-right: 3.5mm; }
.mx-4 { margin-left: 5mm; margin-right: 5mm; }
.mx-6 { margin-left: 8mm; margin-right: 8mm; }

.mx-auto { margin-left: auto; margin-right: auto; }

.mt-1 { margin-top: 1mm; }
.mt-2 { margin-top: 2mm; }
.mt-3 { margin-top: 3.5mm; }
.mt-4 { margin-top: 5mm; }
.mt-6 { margin-top: 8mm; }

.mb-1 { margin-bottom: 1mm; }
.mb-2 { margin-bottom: 2mm; }
.mb-3 { margin-bottom: 3.5mm; }
.mb-4 { margin-bottom: 5mm; }
.mb-6 { margin-bottom: 8mm; }

.ml-1 { margin-left: 1mm; }
.ml-2 { margin-left: 2mm; }
.ml-3 { margin-left: 3.5mm; }
.ml-4 { margin-left: 5mm; }
.ml-6 { margin-left: 8mm; }

.mr-1 { margin-right: 1mm; }
.mr-2 { margin-right: 2mm; }
.mr-3 { margin-right: 3.5mm; }
.mr-4 { margin-right: 5mm; }
.mr-6 { margin-right: 8mm; }

.overflow-hidden { overflow: hidden; }
.pos-rel { position: relative; }
.abs-fill-parent { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
.abs-at-bottom-left {
  position: absolute;
  left: 0;
  bottom: 0;
}
.abs-at-top-left {
  position: absolute;
  left: 0;
  top: 0;
}
.abs-at-center-left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.abs-at-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.abs-at-center.rotate-90 { transform: translate(-50%, -50%) rotate(90deg); }
.abs-at-center.rotate-180 { transform: translate(-50%, -50%) rotate(180deg); }
.fill-width { width: 100%; }
.fill-height { height: 100%; }
.lheight-2x { line-height: 2; }
.lheight-1_5x { line-height: 1.5; }

.inline-block { display: inline-block; }
.flex-v { display: flex; flex-direction: column; }
.flex-h { display: flex; flex-direction: row; }
.flex-grow-1 { flex-grow: 1; }
.flex-wrap { flex-wrap: wrap; }
.items-align-center { align-items: center; }
.justify-content-center { justify-content: center; }
.self-align-center { align-self: center; }

.page {
  width: var(--page-width);
  height: var(--page-height);
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  padding-top: 5mm;
  padding-bottom: 5mm;
  padding-left: 5mm;
  padding-right: 5mm;
  --page-width-content: calc(var(--page-width) - 10mm);
  --page-height-content: calc(var(--page-height) - 10mm);
  box-sizing: border-box;
  page-break-after: always;
}

.floating-element-center-fixed-mode {
  width: var(--flt-shape-width);
  height: var(--page-height);
  shape-outside: polygon(0 calc(50% - var(--flt-shape-height) / 2),
                         0 calc(50% + var(--flt-shape-height) / 2 - var(--chrome-bugfix-bottom-offset)),
                         100% calc(50% + var(--flt-shape-height) / 2 - var(--chrome-bugfix-bottom-offset)),
                         100% calc(50% - var(--flt-shape-height) / 2));
  position: relative;
  top: 50%;
  transform: translateY(calc(-0.5 * var(--flt-shape-height)));
  .floating-element-body {
    box-sizing: border-box;
    width: var(--flt-shape-width);
    height: var(--flt-shape-height);
    overflow: hidden;
    position: relative;
  }
}

.floating-element-fixed-mode {
  width: var(--flt-width);
  height: var(--flt-height);
  position: relative;
  .floating-element-body {
    box-sizing: border-box;
    width: var(--flt-shape-width);
    height: var(--flt-shape-height);
    overflow: hidden;
    position: relative;
  }
}

.flt-box {
  background-color: white;
  border: 0.5mm solid var(--color-dark-stroke);
}

.header-anchor {
  display: none;
}



.block-holder {
  --block-width: 17mm;
  --block-height: 17mm;
  --block-margin: 0.7mm;
  &.b1x {
    width: calc(var(--block-width) + var(--block-margin));
    height: calc(var(--block-width) + var(--block-margin));
  }
  &.b0x {
    width: auto;
  }
  &.b1_5x {
    width: calc(var(--block-width) * 1.5 + var(--block-margin) * 0.5);
  }
  @for $i from 2 through 15 {
    &.b#{$i}x {
      width: calc(#{$i} * (var(--block-width) + var(--block-margin)));
    }
  }
  @include fsize_set(".block");
  .block {
    font-size: 28pt;
    box-sizing: border-box;
    margin: calc(var(--block-margin) / 2);
    border: 0.25mm solid var(--color-black);
    border-radius: 2mm;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    // default b1x
    width: var(--block-width);
    height: var(--block-height);
    &.b1x {
      width: var(--block-width);
      height: var(--block-width);
    }
    &.b0x {
      width: auto;
    }
    &.b1_5x {
      width: calc(var(--block-width) * 1.5 + var(--block-margin) * 0.5);
    }
    @for $i from 2 through 15 {
      &.b#{$i}x {
        width: calc(var(--block-width) * #{$i} + var(--block-margin) * (#{$i} - 1));
      }
    }
  }
}

.rtl {
  direction: rtl;
  .float-left {
    float: right;
  }
  .float-right {
    float: left;
  }
  .abs-at-bottom-left,
  .abs-at-center-left,
  .abs-at-top-left {
    left: auto;
    right: 0;
  }
}
