:root {
  --color-black: #000;
  --color-dark-stroke: rgba(0,0,0,0.3);
  --color-purple: #ed66b8;
  --color-green: #89cf25;
  --color-cyan: #66cef6;
  --color-yellow: #fff200;
  --color-red: #e22;
  --color-light-grey: #bbb;
  --color-white: #fff;
  --color-orange: #f26023;
  --color-pink: #f7b4b8;

  --fsize-4: 10pt;
  --fsize-4_5: 11pt;
  --fsize-5: 12pt;
  --fsize-6: 16pt;
  --fsize-8: 18pt;
  --fsize-9: 22pt;
  --fsize-10: 25pt;
  --fsize-11: 28pt;
  --fsize-12: 32pt;
  --fsize-13: 40pt;
}
