:root {
  --color-black: #000;
  --color-dark-stroke: rgba(0,0,0,0.3);
  --color-purple: #ed66b8;
  --color-green: #89cf25;
  --color-cyan: #66cef6;
  --color-yellow: #fff200;
  --color-red: #e22;
  --color-light-grey: #bbb;
  --color-white: #fff;
  --color-orange: #f26023;
  --color-pink: #f7b4b8;
}
