::: slot inst-01-flt-right-content
<div class="abs-fill-parent flex-h" style="align-items: flex-end;">
  <div class="flex-grow-1"></div>
  <div class="flex-v">
    <img class="m-1" style="width: 58.5mm; height: 79.7mm; box-sizing: border-box;" :src="$withBase('/speakbook/images/01.png')">
    <div class="m-1 p-1 flex-grow-1 flt-box" style="width: 57.5mm; min-height: 79.7mm; box-sizing: border-box;">
      <h3 class="my-1 fsize-5">Jak pisać na speakbook</h3>
      <p class="my-2 fsize-4_5">Dokładnie to, co piszesz na speakbook będzie zależeć od konkretnych wymagań, ale co piszesz, ważne jest, aby każda strona każdej podwójnej stronie spreadu ma ten sam tekst na nim, i że są lustrzanym odbiciem siebie - podobnie jak w W przykładzie powyżej. Czy ty i twój partner mówią różnymi językami? Nie ma problemu - wystarczy napisać inny język po obu stronach.</p>
    </div>
  </div>
</div>
:::
::: slot inst-01-content
<div class="p-1 text-center">
  <SpeakBookTextFourColorBkg class="speakbook-title fsize-10 p-1 bold" :text="$page.frontmatter.text.SPEAKBOOK"></SpeakBookTextFourColorBkg>
</div>
<p>Speakbook jest nie słowny narzędziem komunikacji dla ludzi, którzy nie mogą mówić i mają trudności przy użyciu rąk lub ramion, ale kto zachowuje wykorzystywania ich oczach. To wydanie jest dla ludzi, którzy potrafią czytać i czar. W przypadku wersji dla nie-czytelników, obcych wersjach językowych, a wydanie kieszonkowe, wizyt<b>acecent.re/speakbook</b></p>
<h2 class="fsize-6">Instrukcja użycia.</h2>
<p>Aby zacząć, trzeba będzie; speakbook, czarny, niestałym tablica pióro, płótno do wymazać, a mówiąc partnerem.</p>
<p>Ty i Twój mówiąc partnerem siedzieć naprzeciwko siebie o trzy stopy od siebie. W zależności od swojego wzroku, może okazać się pomocne, aby zmniejszyć lub zwiększyć tę odległość. Otwórz speakbook do strony szkoleniowej wewnątrz pokrywy tylnej. To jest już wypełniony, które pomogą Ci nauczyć się techniki podstawowe. Kiedy "opanowaniu go, można napisać swoje własne strony, wykorzystując puste te przewidziane. Złożyć z powrotem książka o sobie i trzymać go między tobą, więc są zarówno w obliczu "stronę szkoleniowy", a można zobaczyć siebie oczami przez otwór w środku. Teraz spojrzeć na wybory na stronie, aby zdecydować, który z nich komunikować. Kiedy ty "ve postanowił wskazać swojemu partnerowi, że jesteś gotowy, aby rozpocząć
- to może być patrząc na swojego partnera i miga, lub poruszając oczy w górę iw dół - Cokolwiek garnitury. Następnie spójrz na wiadomości, którą chcesz, przez sekundę lub tak, a następnie przez dużą symbol taki sam jak maleństwa przez strony wiadomości. Twój partner potem następuje ruchy oczu - na przykład mógł zobaczyć, że spojrzał na górnej lewej strony planszy, a następnie dużego trójkąta, więc wie, że musi chcesz powiedzieć „herbatę". Potem mówi: „herbatę!” głośno, i to potwierdzić za pomocą mrugnięć, lub jakiegoś innego umówionym sygnałem</p>
<p>Jest to podstawowa technika pomocą speakbook. Teraz musisz nauczyć się korzystać z innych stron w książce, bo prawdziwy geniusz kłamstwa speakbook w jego zdolność do daje łatwy dostęp do setek zwrotów z własnego wyboru, frazy, które można zmienić w dowolnym momencie, z tylko wilgotną szmatką, a jednym pociągnięciem pióra.</p>
:::

::: slot inst-02-flt-right-label
<div class="pos-rel fill-height fill-width">
  <img class="abs-fill-parent" :src="$withBase('/speakbook/shapes/inst-02-right-label-bkg.svg')">
  <div class="fsize-8 abs-at-center" style="transform: translate(calc(-50% + 18px), calc(-50% - 18px)) rotate(45deg); color: white;">{{ $page.frontmatter.text.instructions }}</div>
</div>
:::
::: slot inst-02-flt-left-content
<div class="flex-h" style="padding: 3mm;">
  <div class="flex-grow-1 flex-v">
    <img class="m-1" style="width: 57.5mm; height: 79.7mm; box-sizing: border-box;" :src="$withBase('/speakbook/images/02.png')"  />
    <img class="m-1" style="width: 57.5mm; height: 79.7mm; box-sizing: border-box;" :src="$withBase('/speakbook/images/03.png')"  />
  </div>
  <Content slot-key="cut-out-center-guide" />
</div>
:::
::: slot inst-02-content
<p>Każda strona speakbook ma 14 lub 15 puste odcinki, na których można napisać własny tekst. W porządku, że użytkownik może poruszać się pomiędzy różnymi stronami, stworzyliśmy stronę „domowy". Ten znajduje się w przedniej części książki, i jest oznaczony czarnym zakładce „Home" na krawędzi strony. Chodzi o to, że piszesz 7 fraz najczęściej używanych na tej stronie, ponieważ jest to strona, którą zawsze rozpoczyna się. Ponadto, w dniu 8 z pustymi paski piszesz linki do innych pustych 8 podwójnych stronach. Te powinny być te części swojego życia, które wymagają bardziej dogłębnego zestaw fraz, mogą to być obszary, takie jak bathtime, albo wychodzisz w samochodzie. Z lewej strony jest przykładem możliwego układu dla strony „Home". W 8 słowa pogrubionymi literami są linki do podwójnych rozłożonych stron w innych częściach książki. Co robisz jest znaleźć stronę pustego i pisać, na przykład, „łóżko" na karcie krawędzi, a następnie na paskach piszesz 14 fraz najbardziej odpowiednie do rutynowych snem. Następnie należy powtórzyć ten proces dla pozostałych 7 linków, aż książka jest pełna. Jeśli popełnisz błąd, lub chcą zmienić zdanie, a potem po prostu należy go zetrzeć wilgotną ściereczką i zacząć od nowa.</p>
<p>Aby korzystać z speakbook, można wskazać swojemu partnerowi, że chcesz się komunikować. Twój partner otwiera speakbook do strony „Home" i komunikowania się, na przykład, „łóżko". Twój partner następnie skręca na stronie „łóżko", a następnie można komunikować „Chcę iść do łóżka" - lub cokolwiek. Każda strona ma „Home" i „SPELL" pre-drukowane na nim. „Home" jest tak, że można zawsze wrócić do strony „Home" (trzeba chcieć się „filiżanka herbaty" wziąć z tobą do łóżka). Strona "SPELL" pozwala sformułować poszczególne słowa i frazy, które don "t pojawia się w innym miejscu w książce. To działa w podobny sposób, jak innych stron, z jedną różnicą. Na tej stronie znajduje się 6 kolorowych klocków, każdy z 6 kolorowych liter lub cyfr na nim. Cały alfabet jest tam, plus numery 1-9 (dla zerowego stosowania litery O). Patrzysz na piśmie chcesz się połączyć, przez sekundę lub tak, a następnie kolorowym bloku tego samego koloru co wybranej litery. Twój partner następująco oczy, widzi, że spojrzał na, na przykład, górny lewy blok następnie prawym górnym bloku (co jest zielone), i wie, że chce „C". Twój partner mówi „C" na głos, aby potwierdzić, i od razu przejść do następnego listu. Twój partner odgadnie resztę słowa, gdy to możliwe, aby przyspieszyć ten proces się.</p>
<p>Speakbook pomieści 119 fraz z wyboru. Jeśli to nie wystarczy, czy trzeba więcej niż 14 fraz w jednym konkretnym punkcie, wtedy można podwoić swoje zdolności pisząc dwie frazy na każdej linii, jeden w czarne pióra, jeden w kolorze czerwonym. Wybrać czarną frazę w normalny sposób, czerwony, jeden po migać, jeśli spojrzeć na dużym symbolem.</p>
:::
