::: slot cover-footer
<div class="lheight-1_5x">
  <p class="text-center cover-footer-text">
    <span class="fsize-8 bold">System komunikacji werbalnej non</span><br>
    <span class="red-color fsize-8 bold">acecent.re/speakbook</span><br>
    <span class="fsize-4">Speakbook 5th edition © 2020 Patrick Joyce &amp; Ace Centrum</span>
  </p>
</div>
:::
