::: slot last-page-heading
<div class="float-left" style="width: 40mm; height: 37mm; shape-outside: polygon(0 0, 40mm 0, 10mm 100%, 0 100%);"></div>
<h2 class="my-2">Strona pisownia palec.</h2>
<p class="my-2">Jeśli nadal masz użycia rąk, a ta strona jest dla Ciebie.
  Wskazując palcem można przeliterować słowa i frazy do swojego partnera.
  Najczęściej używane słowa mogą być zapisywane w pustych polach.
  Wskazując na słowa<strong class="bold">" DOM ​​"*</strong>wskazuje na swojego partnera, który was teraz
  chcą się komunikować ze swoimi oczami za pomocą głównego książkę.</p>
:::
