::: mokamoka upoko-whaarangi-taitara
<div class="float-left" style="width: 40mm; height: 37mm; shape-outside: polygon(0 0, 40mm 0, 10mm 100%, 0 100%);"></div>
<h2 class = "my-2"> Wharangi takikupu maihao. </h2>
<p class = "my-2">
   Mena kei te whakamahia tonu e o ringaringa, na tenei whaarangi maau.
   Ma te tohu ma te maihao ka taea e koe te tuhi kupu me nga kianga ki to hoa.
   Ko nga kupu e tino kitea ana ka taea te tuhi ki nga pouaka waatea.
   Ko te tohu ki te kupu <strong class = "maia"> „KĀINGA‟ * </strong> ka tohu ki to hoa rangatira ko koe inaianei
   e hiahia ana ki te korero ki o kanohi me te whakamahi i te pukapuka matua.
</p>
:::