::: slot training-page-description
<p class = "fsize-3">
   Mena kua mohio koe ki te tikanga taketake ma te whakamahi i tenei whaarangi whakangungu,
   taea e koe te tuhi i o whaarangi whaarangi ma te whakamahi i nga mea kore kau o tenei pukapuka.
</p>
:::