::: slot inst-01-flt-right-content
<div class="abs-fill-parent flex-h" style="align-items: flex-end;">
  <div class="flex-grow-1"></div>
  <div class="flex-v">
    <img class="m-1" style="width: 58.5mm; height: 79.7mm; box-sizing: border-box;" :src="$withBase('/speakbook/images/01.png')"  />
    <div class="m-1 p-1 flex-grow-1 flt-box" style="width: 57.5mm; min-height: 79.7mm; box-sizing: border-box;">
      <h3 class="my-1 fsize-5">Att skriva i pratboken</h3>
      <p class="my-2 fsize-4_5">Exakt vad du skriver i pratboken beror på vad du själv behöver. Oavsett vad du skriver är det viktigt att båda sidorna av ett uppslag har samma text i rutorna, och att de är spegelbilder av varandra som i exemplet. Om du och din samtalspartner talar olika språk kan ni använda varsin sida till varsitt språk.</p>
    </div>
  </div>
</div>
:::
::: slot inst-01-content
<div class="p-1 text-center">
  <SpeakBookTextFourColorBkg class="speakbook-title fsize-10 p-1 bold" :text="$page.frontmatter.text.SPEAKBOOK"></SpeakBookTextFourColorBkg>
</div>
<p>Pratboken är ett verktyg för icke-verbal kommunikation. Den passar för personer som inte kan tala och som har svårigheter att använda armar och händer, men som kan använda ögonen för att peka. Den här utgåvan är till för de som kan läsa och stava. För att hämta versioner på andra språk eller för de som inte kan läsa, titta på <b>https://acecent.re/speakbook</b></p>
<h2 class="fsize-6">Instruktioner</h2>
<p>För att komma igång behöver du pratboken, en svart icke-permanent whiteboard-penna, en trasa för att sudda och en samtalspartner. Blyertspenna och suddgummi går också bra.</p>
<p>
Du och din samtalspartner sitter mittemot varandra, med ungefär en meters mellanrum. Beroende på hur bra du ser kan det underlätta att öka eller minska avståndet. Öppna pratboken och slå upp övningssidan längst bak. Den är redan ifylld för att hjälpa dig att förstå den grundläggande tekniken. När du har lärt dig den kan du fylla i egna ord på de blanka sidorna i boken. Vik ihop boken och håll upp den emellan er så att ni båda ser övningssidan och varandras ögon genom hålet i mitten. Nu ser du de olika möjliga fraserna och orden som du kan säga. När du har bestämt dig för vad du vill säga, visar du din samtalspartner att du är redo att börja. Detta kan du göra genom att titta på din partner och blinka eller röra upp och ned på ögonen, eller något annat sätt som passar dig. Titta sedan på det du vill säga i ungefär en sekund, och fortsätt med att titta på den symbol i stort format som motsvarar den lilla symbolen vid sidan om ordet. Din partner följer dina ögonrörelser. Till exempel ser hon att du tittar i övre vänstra hörnet av boken, och sedan på en stor triangel, och då vet hon att du vill säga ”en kopp te”. Hon säger då ”en kopp te” högt, och du bekräftar med en nick eller en blinkning eller någon annan signal som ni kommer överens om.
</p>
<p>Det är grundtekniken för hur man använder pratboken. Nu behöver du lära dig hur man använder de andra sidorna i boken. Bokens storhet ligger nämligen i att ge dig enkel tillgång till hundratals valfria fraser som du kan ändra när du vill med bara en trasa och en penna.</p>
:::
::: slot inst-02-flt-right-label
<div class="pos-rel fill-height fill-width">
  <img class="abs-fill-parent" :src="$withBase('/speakbook/shapes/inst-02-right-label-bkg.svg')" />
  <div class="fsize-8 abs-at-center" style="transform: translate(calc(-50% + 5mm), calc(-50% - 5mm)) rotate(45deg); color: white;width: 42mm;text-align: center;">{{ $page.frontmatter.text.instructions }}</div>
</div>
:::
::: slot inst-02-flt-left-content
<div class="flex-h" style="padding: 3mm;">
  <div class="flex-grow-1 flex-v">
    <img class="m-1" style="width: 57.5mm; height: 79.7mm; box-sizing: border-box;" :src="$withBase('/speakbook/images/02.png')"  />
    <img class="m-1" style="width: 57.5mm; height: 79.7mm; box-sizing: border-box;" :src="$withBase('/speakbook/images/03.png')"  />
  </div>
  <Content slot-key="cut-out-center-guide" />
</div>
:::
::: slot inst-02-content
<p>Varje sida i pratboken har 14 eller 15 blanka rutor som du kan skriva på. För
att du ska kunna flytta dig mellan olika sidor har vi skapat en startsida. Den ser
du på framsidan av boken och är markerad med en svart START-flik i sidans
nederkant. Tanken är att du skriver de 7 fraser du använder oftast på den här sidan
eftersom det är här du alltid kommer börja. De återstående 8 rutorna är tänkta att
länkas till de övriga 8 blanka sidorna i boken. Där bör du därför skriva områden i ditt liv
som kräver fler fraser, som till exempel badrumsbesök eller åka ut med bilen. På bilden ser
du en möjlig layout för START-sidan. De 8 orden i feta stora bokstäver länkar till uppslag i
resten av boken. Hitta en blank sida och skriv till exempel SOVA på fliken i nederkanten. Fyll
sedan sidans rutor med 14 fraser som du använder mest när du ska sova. Sedan gör du likadant
för de andra 7 orden på startsidan. Om du gör ett misstag eller vill byta ut en fras, torkar du bara av
ordet med en trasa och
börjar om.</p>
<p>För att använda pratboken
visar du din samtalspartner
att du vill kommunicera. Din
partner slår upp pratboken
på START-sidan och du
visar med ögonen ett ord du
vill säga. Din partner slår då
upp den flik som passar till
ordet och du kan fortsätta
att prata kring detta ämne.
På varje sida finns START
och STAVA förtryckt. På så
sätt kan du alltid ta dig
tillbaka till START-sidan (du
kanske vill ta med dig ”en
kopp te” när du ska sova).
På STAVA-sidan kan du
bokstavera ord och fraser
som inte finns någon
annanstans i boken. Den
fungerar på samma sätt
som de övriga sidorna, men
med ett undantag. På den
här sidan finns det 6
färgade rutor som alla har 6
färgade bokstäver. Hela
alfabetet finns här. Du tittar
på den bokstav du vill
förmedla i ungefär en
sekund och fortsätter med
att titta på den ruta som har
samma färg som bokstaven.
Din samtalspartner följer
dina ögonrörelser. Till exempel ser hon att du tittar på den övre vänstra rutan och sedan på den
övre högra rutan (som är grön) och vet då att du menar ”C”. Din partner säger ”C” högt för att
bekräfta ditt val och du fortsätter med nästa bokstav. Din partner kan gissa vilket ord du vill säga
så snart hon kan för att snabba upp samtalet.</p>
<p>Pratboken har plats för 119 valfria fraser. Om detta inte räcker, eller om du behöver fler än 14
fraser inom ett visst område kan du öka kapaciteten genom att skriva två fraser på en rad. Då
skriver du en fras med svart färg och en med röd färg. Om du vill välja den röda frasen visar du det
genom att blinka när du tittar på den stora symbolen. Den svarta frasen väljer du som vanligt.</p>
:::
