.labelStyle div {border-left:10px solid #e6e4e5;} 
.labelStyle h6 {background: transparent; font-size: 14px} 

.labelStyle2 {border-left:10px solid #e6e4e5;} 
.labelStyle2 h3 {background: transparent} 
