::: slot inst-01-flt-right-content
<div class="abs-fill-parent flex-h" style="align-items: flex-end;">
  <div class="flex-grow-1"></div>
  <div class="flex-v">
    <img class="m-1" style="width: 58.5mm; height: 79.7mm; box-sizing: border-box;" :src="$withBase('/speakbook/images/01.png')">
    <div class="m-1 p-1 flex-grow-1 flt-box" style="width: 57.5mm; min-height: 79.7mm; box-sizing: border-box;">
      <h3 class="my-1 fsize-5">如何写上speakbook</h3>
      <p class="my-2 fsize-4_5">正是你写上speakbook将取决于您的特定需求是什么，但不管你写的，重要的是，任何跨页的每一侧上有相同的文字，他们是彼此的镜像 - 在上面的例子。你和你的伴侣说不同的语言？没问题 - 只要写两边不同的语言。</p>
    </div>
  </div>
</div>
:::
::: slot inst-01-content
<div class="p-1 text-center">
  <SpeakBookTextFourColorBkg class="speakbook-title fsize-10 p-1 bold" :text="$page.frontmatter.text.SPEAKBOOK"></SpeakBookTextFourColorBkg>
</div>
<p>Speakbook是谁也无法发言，提出用他们的手或手臂困难的人一个非言语交际的工具，但谁保留使用他们的眼睛。此版本的人谁可以阅读和拼写。对于版本的非读者，外语版本，以及袖珍版，请访问：<b>acecent.re/speakbook</b></p>
<h2 class="fsize-6">使用说明。</h2>
<p>要开始，你需要;在speakbook，黑色，非永久性白板笔，布来擦出来，一个讲的合作伙伴。</p>
<p>你和你的伴侣说对面坐彼此相距约三英尺。根据您的视力，你会发现它有助于减少或增加这个距离。打开speakbook到后盖内的培训页面。这填补了已经帮助您学习的基本技术。当你“已经掌握了它，你可以写你自己的网页，使用提供空白的。弯曲折叠，书回来，拿着它你之间，所以你都面临着“培训”页，并且可以通过中间的孔看到对方的眼睛。你现在看选择在页面上决定哪一个通信。当你“已经决定，你指示你的伴侣，你已经准备好开始
 - 这可能是通过看你的伴侣和闪烁，或晃着你的眼睛向上和向下 - 无论适合你。然后看你想要的消息，一秒钟左右，其次是大符号相同，由消息侧面的小东西。然后，您的伙伴跟随你的眼球运动 - 比如他可能会发现，你已经看过了板之后的大三角形的左上方，让他知道你一定想说“喝茶！“。他接着说，“那杯茶！”出声来了，你确认此有眨眼，或其他一些预先安排的信号</p>
<p>这是使用speakbook的基本技术。现在，你需要学习如何使用书中的其他页面，因为speakbook在于它的能力是真正的天才，让您轻松访问数百你自己选择的词组，短语，你可以在任何时候发生变化，仅湿布和一个笔的笔划。</p>
:::

::: slot inst-02-flt-right-label
<div class="pos-rel fill-height fill-width">
  <img class="abs-fill-parent" :src="$withBase('/speakbook/shapes/inst-02-right-label-bkg.svg')">
  <div class="fsize-8 abs-at-center" style="transform: translate(calc(-50% + 18px), calc(-50% - 18px)) rotate(45deg); color: white;">{{ $page.frontmatter.text.instructions }}</div>
</div>
:::
::: slot inst-02-flt-left-content
<div class="flex-h" style="padding: 3mm;">
  <div class="flex-grow-1 flex-v">
    <img class="m-1" style="width: 57.5mm; height: 79.7mm; box-sizing: border-box;" :src="$withBase('/speakbook/images/02.png')"  />
    <img class="m-1" style="width: 57.5mm; height: 79.7mm; box-sizing: border-box;" :src="$withBase('/speakbook/images/03.png')"  />
  </div>
  <Content slot-key="cut-out-center-guide" />
</div>
:::
::: slot inst-02-content
<p>在speakbook每页上有14个或15，你可以写自己的文字的空白部分。为了使用户可以在不同页面之间移动，我们已经创建了“家“的网页。这是在书的前面找到，并标有在页面边缘的黑色的“首页“标签。我们的想法是，你写你用最本网页上的7个短语，因为它是你总是开始页面。此外，在空白带8你写链接到其他8空白的双页。这些应该是你的生活，需要更深入的固定词组的部分，这些可能会像洗澡的区域，或在车上走出去。左边是一个可能的布局为“HOME“页面的一个例子。该8个字粗体大写字母都链接到本书中其他位置的双跨页。你要做的就是，你找到一个空白页，写，例如，边缘选项卡上的“床“，然后在带你写的14个短语最相关的就寝时间。然后你重复这个过程对于其他7个环节，直到你的通讯录已满。如果你犯了一个错误，或者想换一个短语，然后只需用湿布擦拭，并重新开始。</p>
<p>要使用speakbook，你指示你的伴侣，你想沟通。你的伴侣打开speakbook的“HOME“页面和你沟通，例如，“床”。您的合作伙伴然后转向了“床“页面，然后就可以沟通，“我想睡觉” - 或什么的。每个页面都有“家“和“拼”预打印就可以了。 “家“是让你可以随时可以回到“家”页面（你可能希望有一个“杯茶！“采取跟你上床）。 “符咒”页面，可以拼出个别单词和短语，唐“吨出现在本书的其他部分。它的工作原理类似的方式为其他网页，但有一点不同。在此页面上有6个颜色块，每个上面有6个色的字母或数字。整个字母是存在的，再加上数字1-9（零使用字母O）。你看看你想沟通，争取一秒钟左右的信件，随后在相同的颜色作为您所选择的信的彩色块。你的伴侣遵循你的眼睛，看到你已经看过，例如，在左上块，然后右上块（这是绿色的），并且知道你想要的“C“。你的伴侣说，“C“出声确认，你移动到下一个字母。你的伴侣可能的猜测时，这个词的其余部分，以加快进程。</p>
<p>Speakbook预留有119个短语你选择的。如果这还不够，或者如果你需要在一个特定的部分超过14个短语，那么你可以通过编写每行两个词，一个黑色的笔，一个红色一倍的容量。您可以选择以正常方式黑色短语，一个红色的，当你在大符号闪烁。</p>
:::
