::: slot inst-01-flt-right-content
<div class="abs-fill-parent flex-h" style="align-items: flex-end;">
  <div class="flex-grow-1"></div>
  <div class="flex-v">
    <img class="m-1" style="width: 58.5mm; height: 79.7mm; box-sizing: border-box;" :src="$withBase('/speakbook/images/01.png')"  />
    <div class="m-1 p-1 flex-grow-1 flt-box" style="width: 57.5mm; min-height: 79.7mm; box-sizing: border-box;">
      <h3 class="my-1 fsize-5">Konuşmakitabı üzerine nasıl yazılır? </h3>
      <p class="my-2 fsize-4_5">
Konuşma kitabına yazdıklarınız kişisel ihtiyaçlarınıza bağlı olacaktır, ancak ne yazarsanız yazın, herhangi bir çift sayfa yayılımının her bir yüzünün üzerinde aynı metnin olması ve bunların birbirinin ayna görüntüsü olması önemlidir- yukarıdaki örnekteki gibi. Siz ve eşiniz farklı bir dilde mi konuşuyorsunuz? Sorun değil - her iki tarafa da farklı bir dil yazın.</p>
    </div>
  </div>
</div>
:::
::: slot inst-01-content
Konuşmakitabı, konuşamayan ve ellerini veya kollarını kullanmada zorluk çeken, ancak gözlerinin kullanımını koruyan insanlar için sözel olmayan bir iletişim aracıdır. Bu basım, okuma ve yazma bilen kişiler içindir. Okuma-yazma bilmeyen kişiler için,  yabancı dil baskıları ve cep sürümü için, şu adresi ziyaret edin:
<b>acecent.re/speakbook</b></p>
<h2 class="fsize-6">Kullanma talimatları</h2>
<p> Başlamak için ihtiyacınız olan şeyler, konuşma kitabı; siyah, kalıcı olmayan bir kalem, silme bezi ve konuşma partneri.</p>
<p>
Siz ve konuşma partneriniz birbinizden yaklaşık 1 metre uzak olacak şekilde karşılıklı oturun. Görme yetinize bağlı olarak, bu mesafeyi azaltmayı veya artırmayı yararlı bulabilirsiniz. Kitabın arka kapağının içindeki eğitim sayfasını açın. Bu, temel tekniği öğrenmenize yardımcı olmak için zaten doldurulmuştur. Uzmanlaştığınızda, sağlanan boş sayfaları kullanarak kendi sayfalarınızı yazabilirsiniz. Kitabı kendi üzerine katlayın ve aranızda tutun, böylece ikiniz de bir 'eğitim sayfasına' bakıyor olacaksınız ve birbirinizin gözlerini ortadaki boş alandan görebileceksiniz. Sonra sayfada bulunan ihtimallerden hangisi hakkında iletişime geçmek istediğinize karar verin. Karar verdiğinizde, partnerinize başlamaya hazır olduğunuzu belirtin. Bunu konuşma partnerinize bakıp göz kırparak, gözlerini açıp kapatarak belirtebilirsiniz ya da kendinizin belirlediği başka bir ifade ile belirtebilisiniz. Daha sonra istediğiniz mesaja bir saniye kadar bakın, ardından mesajın yanındaki küçük sembolle aynı büyük simgeye bakın. Konuşma partneriniz daha sonra göz hareketlerinizi takip ederek ne demek istediğiniz öğrenir - örneğin tahtanın sol üst tarafına ve ardından büyük üçgene baktığınızı görebilir, bu yüzden “bir fincan çay!” demek istemeniz gerektiğini bilir. Seçim yaptıktan sonra konuşma partneriniz bu seçimi sözel olarak yüksek ses söyle ve siz de bunu göz kırparak veya daha önceden ayarladığınız bir ifade ile onaylarınız. 
</ P>
<p> Bu konuşma kitabını kullanmak için temel tekniktir. Şimdi kitaptaki diğer sayfaları nasıl kullanacağınızı öğrenmelisiniz, çünkü konuşma kitabının gerçek dehası, kendi seçtiğiniz yüzlerce cümleye, istediğiniz zaman değiştirebileceğiniz ifadelere kolayca erişebilmenizde yatmaktadır. Tek ihtiyacınız olan sadece nemli bir bez ve kaleminiz. </p>
:::

::: slot inst-02-flt-right-label
<div class="pos-rel fill-height fill-width">
  <img class="abs-fill-parent" :src="$withBase('/speakbook/shapes/inst-02-right-label-bkg.svg')" />
  <div class="fsize-8 abs-at-center" style="transform: translate(calc(-50% + 5mm), calc(-50% - 5mm)) rotate(45deg); color: white;width: 42mm;text-align: center;">{{ $page.frontmatter.text.instructions }}</div>
</div>
:::
::: slot inst-02-flt-left-content
<div class="flex-h" style="padding: 3mm;">
  <div class="flex-grow-1 flex-v">
    <img class="m-1" style="width: 57.5mm; height: 79.7mm; box-sizing: border-box;" :src="$withBase('/speakbook/images/02.png')"  />
    <img class="m-1" style="width: 57.5mm; height: 79.7mm; box-sizing: border-box;" :src="$withBase('/speakbook/images/03.png')"  />
  </div>
  <Content slot-key="cut-out-center-guide" />
</div>
:::
::: slot inst-02-content
<p> Konuşma kitabının her sayfasında kendi metninizi yazabileceğiniz 14 veya 15 boş bölüm bulunur. Kullanıcının farklı sayfalar arasında hareket edebilmesi için, "ana sayfa" sayfasını oluşturduk. Bu kitabın ön tarafında bulunur ve sayfanın kenarında siyah bir “ANA SAYFA” sekmesi ile işaretlenmiştir. Buradaki amaç, kitabın en başında bulunan bu sayfada en çok kullandığınız 7 ifadeyi yazmanız ve böylelikle kolaylıkla bu ifadelere istediğiniz anda ulaşabilmeniz. 
Ayrıca, boş olan sekiz şeritin birinde diğer 8 boş çift sayfaya bağlantı kurabilirsiniz. Bunlar hayatınızın daha derinlemesine ifadeler gerektiren parçaları olmalı, örneğin banyo veya araba ile dışarı çıkmak gibi.  Sol tarafta “ANA SAYFA” sayfası için olası bir örnek bulabilirsiniz. Kalın harflerle yazılan 8 kelime, kitabın başka yerlerindeki çift sayfalara olan bağlantıları ifade eder. Yapmanız gereken boş bir sayfa bulmak ve örneğin kenar sekmesine “YATAK” yazmak, daha sonra varolan şeritlere uyumadan önce rutininizle en çok alakalı 14 ifadeyi yazmanızdır. Ardından kitabınız dolana kadar diğer 7 bağlantı için bu işlemi tekrarlayın. Bir hata yaparsanız veya bir cümleyi değiştirmek isterseniz, nemli bir bezle silin ve tekrar başlayın. </p>
<p> Konuşma kitabını kullanmak için partnerinize iletişim kurmak istediğinizi belirtirsiniz. Konuşma partneriniz konuşma kitabının “ANA SAYFA” sayfasına açar ve örneğin siz “YATAK” kelimesini ifade edersiniz. Konuşma partneriniz daha sonra “YATAK” sayfasına geçer ve siz bu sayfadaki kelime ve sözcük grupları ile iletişime geçebilirsiniz ör: yatağa gitmek istiyorum gibi. Her sayfada “ANA SAYFA” ve “HECELEME” ifadeleri bulunmaktadır. “ANA SAYFA” sekmesi her zaman “ANA SAYFA” sayfasına geri dönebilmeniz içindir. “HECELEME” sayfası, kitabın başka bir yerinde görünmeyen kelime ve sözcük gruplarını heceleyerek iafde etmenize olanak tanır. Bir farkla diğer sayfalara benzer şekilde çalışır. Bu sayfada, üzerinde 6 renkli harf veya rakam bulunan 6 renkli blok vardır. Bu sayfada harfler ve 1'den 9'a kadar sayılar bulunmaktadır. (sıfır için O harfini kullanabilirsiniz). İletişim kurmak istediğiniz harfe bir saniye kadar bakın, ardından seçtiğiniz harfle aynı renkteki renkli bloğa bakın. Konuşma partneriniz gözlerinizi takip edip; örneğin sol üst bloğa ve ardından sağ üst bloğa (yeşil olan) baktığınızı görür ve “C” harfiniz ifade ettiğinizi anlar. Konuşma partneriniz onaylamak için yüksek sesle “C” der ve siz de bunu daha önce belirlediğiniz onaylama sinyal ile onayladıktan sonra bir sonraki harfe geçebilirsiniz. Konuşma partneriniz, mümkün olduğunda süreci hızlandırmak için kelimenin geri kalanını tahmin eder. </ P>
<p> Konuşmakitabı içerisinde seçtiğiniz 119 cümle için yer var. Bu yeterli değilse veya belirli bir bölümde 14'ten fazla ifadeye ihtiyacınız varsa, her satıra bir tane siyah kalem, biri kırmızı olmak üzere iki kelime öbeği yazarak kapasitesini iki katına çıkarabilirsiniz. Normal bir şekilde siyah olarak yazılmış cümleyi gözlerinizle ifade ederek, büyük sembole bakıp kırmızı olana gözlerinizi kırparak aynı kutudaki kırmızı cümleyi ifade etmek istediğinizi belirtebilirsiniz </p>
:::
