::: slot last-page-heading
<div class="float-left" style="width: 40mm; height: 37mm; shape-outside: polygon(0 0, 40mm 0, 10mm 100%, 0 100%);"></div>
<h2 class="my-2"> Parmaklarla heceleme sayfası </h2>
<p class="my-2">
Eğer ellerinizi kullanabiliyorsanız, bu sayfa sizin için. 
Parmağınızla harfleri teker teker göstererek kelimeleri veya sözcük gruplarını heceleyebilirsiniz. 
Sıklıkla kullanılan kelimeler boş kutuların içerisine yazılabilir. 
ANA SAYFA kelimesine işaret ederek, konuşma partnerinize ana kitabı kullanarak ve gözlerinizle iletişime geçmek istediğinizi belirtebilirsiniz. </p>
:::
