::: slot last-page-heading
<div class="float-left" style="width: 40mm; height: 37mm; shape-outside: polygon(0 0, 40mm 0, 10mm 100%, 0 100%);"></div>
<h2 class="my-2">Finger spelling page.</h2>
<p class="my-2">
  If you still have the use of your hands, then this page is for you.
  By pointing with a finger you can spell out words and phrases to your partner.
  Frequently used words can be written in the blank boxes.
  Pointing to the word <strong class="bold">„ HOME ‟*</strong> indicates to your partner that you now
  want to communicate with your eyes using the main book.
</p>
:::

