::: slot inst-01-flt-right-content
<div class="abs-fill-parent flex-h" style="align-items: flex-end;">
  <div class="flex-grow-1"></div>
  <div class="flex-v">
    <img class="m-1" style="width: 58.5mm; height: 79.7mm; box-sizing: border-box;" :src="$withBase('/speakbook/images/01.png')"  />
    <div class="m-1 p-1 flex-grow-1 flt-box" style="width: 57.5mm; min-height: 79.7mm; box-sizing: border-box;">
      <h3 class="my-1 fsize-5">How to write on the speakbook</h3>
      <p class="my-2 fsize-4_5">Dak li tikteb fuq l-iSpeakbook, jidependi mill-bżonnijiet partikolari tiegħek. Huwa importanti, li dak kollu li tikteb, ikun l-istess f'paġni li huma identiċi minn quddiem u minn wara - bħal l-eżempju ta' hawn fuq. Jekk inti u s-sieħeb tiegħek titkelmu lingwi differenti, mhijiex probelma - ikteb il-lingwa l-oħra fuq naħa minnhom. </p>
    </div>
  </div>
</div>
:::
::: slot inst-01-content
<div class="p-1 text-center">
  <SpeakBookTextFourColorBkg class="speakbook-title fsize-10 p-1 bold" :text="$page.frontmatter.text.SPEAKBOOK"></SpeakBookTextFourColorBkg>
</div>
<p>Speakbook huwa għodda ta ’komunikazzjoni mhux verbali għal persuni li ma jistgħux jitkellmu u jkollhom diffikultà jużaw l-idejn jew l-armi tagħhom, iżda li jżommu l-użu ta’ għajnejhom. Din l-edizzjoni hija għal nies li jistgħu jaqraw u jispeċifikaw. Għal verżjonijiet għal dawk li ma jaqrawx, verżjonijiet b’lingwa barranija, u l-edizzjoni tal-but, żur <b>acecent.re/speakbook</b></p>
<h2 class="fsize-6">Istruzzjonijiet għall-użu.</h2>
<p>Biex tibda, ser ikollok bżonn; il-talkbook, pinna whiteboard sewda u mhux permanenti, drapp biex togħrok, u sieħeb li jitkellem.</p>
<p>
Int u s-sieħeb li titkellem joqogħdu faċċata ta 'xulxin madwar tliet piedi' l bogħod minn xulxin. Jiddependi fuq il-vista tiegħek, tista 'ssibha utli li tnaqqas jew iżżid din id-distanza. Iftaħ il-talkbook għall-paġna tat-taħriġ ġewwa l-qoxra ta 'wara. Dan huwa mimli diġà biex jgħinek titgħallem it-teknika bażika. Meta tkun ikkontrollajtha, tista 'tikteb il-paġni tiegħek stess, billi tuża dawk vojta pprovduti. Itwi l-ktieb lura fuqu nnifsu u żommu 'l fuq bejnek, sabiex intom it-tnejn tiffaċċjaw' paġna ta 'taħriġ', u taraw lil xulxin għajnejn mit-toqba fin-nofs. Issa tħares lejn l-għażliet fuq il-paġna biex tiddeċiedi liema waħda tikkomunika. Meta tkun iddeċidejt, tindika lis-sieħeb tiegħek li int lest biex tibda
- dan jista 'jkun billi tħares lejn is-sieħeb tiegħek u tteptep, jew billi waggling l-għajnejn tiegħek' il fuq u 'l isfel - kulma jaqbel għalik. Imbagħad ħares lejn il-messaġġ li trid, għal sekonda jew hekk, segwit mis-simbolu l-kbir l-istess bħaċ-ċkejken fil-ġenb tal-messaġġ. Is-sieħeb tiegħek isegwi l-movimenti ta 'l-għajnejn tiegħek - pereżempju huwa jista' jara li rajt il-parti ta 'fuq tax-xellug tal-bord segwit mit-trijanglu kbir, u għalhekk jaf li trid tgħid "tazza ta' te!". Huwa mbagħad jgħid, "tazza ta 'tè!" b'leħen għoli, u tikkonferma dan bi teptip, jew b'xi sinjal ieħor irranġat minn qabel
</p>
<p>Din hija t-teknika bażika għall-użu tal-speakbook. Issa trid titgħallem kif tuża l-paġni l-oħra fil-ktieb, għax il-ġenju veru tal-speakbook jinsab fil-kapaċità tiegħu li jagħtik aċċess faċli għal mijiet ta 'frażijiet li tagħżel int stess, frażijiet li tista' tbiddel fi kwalunkwe ħin, bi drapp niedja biss u l-kolp ta 'pinna.</p>
:::

::: slot inst-02-flt-right-label
<div class="pos-rel fill-height fill-width">
  <img class="abs-fill-parent" :src="$withBase('/speakbook/shapes/inst-02-right-label-bkg.svg')" />
  <div class="fsize-8 abs-at-center" style="transform: translate(calc(-50% + 18px), calc(-50% - 18px)) rotate(45deg); color: white;">{{ $page.frontmatter.text.instructions }}</div>
</div>
:::

::: slot inst-02-flt-left-content
<div class="flex-h" style="padding: 3mm;">
  <div class="flex-grow-1 flex-v">
    <img class="m-1" style="width: 57.5mm; height: 79.7mm; box-sizing: border-box;" :src="$withBase('/speakbook/images/02.png')"  />
    <img class="m-1" style="width: 57.5mm; height: 79.7mm; box-sizing: border-box;" :src="$withBase('/speakbook/images/03.png')"  />
  </div>
  <Content slot-key="cut-out-center-guide" />
</div>
:::
::: slot inst-02-content
<p>Kull paġna tal-speakbook għandha 14 jew 15-il sezzjoni vojta li fuqhom tista 'tikteb it-test tiegħek stess. Sabiex l-utent ikun jista 'jiċċaqlaq bejn il-paġni differenti, ħloqna l-paġna "home". Dan jinsab fil-faċċata tal-ktieb, u huwa mmarkat bit-tab iswed "HOME" fit-tarf tal-paġna. L-idea hi li tikteb is-7 frażijiet li tuża l-iktar f'din il-paġna, peress li hija l-paġna li dejjem tibda fuqha. Ukoll, fit-8 ta 'l-istrixxi vojta tikteb links għall-oħra 8 paġni doppji vojta. Dawn għandhom ikunu l-partijiet ta 'ħajtek li jeħtieġu sett aktar fil-fond ta' frażijiet, dawn jistgħu jkunu oqsma bħall-għawm, jew joħorġu fil-karozza. Fuq ix-xellug hemm eżempju ta 'tqassim possibbli għall-paġna "HOME". It-8 kelmiet b'ittri kbar u grassi huma links għal spreads tal-paġna doppja x'imkien ieħor fil-ktieb. Dak li tagħmel hu, issib paġna vojta u tikteb, pereżempju, "BED" fuq it-tab tat-tarf, imbagħad fuq l-istrixxi li tikteb l-14-il frażi l-iktar relevanti għar-rutina tiegħek qabel l-irqad. Imbagħad irrepeti dan il-proċess għas-7 links l-oħra, sakemm il-ktieb tiegħek ikun mimli. Jekk tagħmel żball, jew trid tibdel frażi, imbagħad ħassarha b'ċarruta niedja u ibda mill-ġdid.</p>
<p>Biex tuża l-talkbook, int tindika lis-sieħeb tiegħek li trid tikkomunika. Is-sieħeb tiegħek jiftaħ il-ktieb fuq il-paġna "HOME" u tikkomunika, pereżempju, "BED". Is-sieħeb tiegħek imbagħad idur fuq il-paġna ta '"BED" u mbagħad tista' tikkomunika, "Irrid immur torqod" - jew kwalunkwe ħaġa oħra. Kull paġna għandha "HOME" u "SPELL" stampati minn qabel fuqha. Il- "HOME" huwa hekk li tista 'dejjem terġa' lura għall-paġna "HOME" (tista 'tkun trid "Tazza ta' tè!" Biex teħodha miegħek). Il-paġna “SPELL” tippermettilek li tispjega kliem u frażijiet individwali li ma jidhrux x'imkien ieħor fil-ktieb. Jaħdem b'mod simili bħall-paġni l-oħra, b'differenza waħda. Fuq din il-paġna hemm 6 blokki kkuluriti, kull wieħed b'6 ittri kkuluriti jew numri fuqha. L-alfabett sħiħ qiegħed hemm, flimkien man-numri 1-9 (għal żero uża l-ittra O). Tħares lejn l-ittra li trid tikkomunika, għal sekonda jew hekk, segwita mill-blokka kkulurita tal-istess kulur bħall-ittra magħżula tiegħek. Is-sieħeb tiegħek isegwi għajnejk, jara li rajt, pereżempju, il-blokka ta 'fuq tax-xellug segwita mill-blokka ta' fuq tal-lemin (li hija ħadra), u jaf li trid "C". Is-sieħeb tiegħek jgħid “C” b’leħen għoli biex tikkonferma, u tgħaddi għall-ittra li jmiss. Is-sieħeb tiegħek jassumi l-bqija tal-kelma meta jkun possibbli, biex iħaffef il-proċess. </p>
<p> Speakbook għandu spazju għal 119 frażi tal-għażla tiegħek. Jekk dan mhux biżżejjed, jew jekk għandek bżonn aktar minn 14-il frażi f’sezzjoni waħda partikolari, allura tista ’tirdoppja l-kapaċità tagħha billi tikteb żewġ frażijiet fuq kull linja, waħda bil-pinna sewda, waħda bl-aħmar. Inti tagħżel frażi sewda bil-mod normali, waħda ħamra billi tpetpet meta tħares lejn is-simbolu l-kbir.</p>
:::
