::: slot inst-01-flt-right-content
<div class="abs-fill-parent flex-h" style="align-items: flex-end;">
  <div class="flex-grow-1"></div>
  <div class="flex-v">
    <img class="m-1" style="width: 58.5mm; height: 79.7mm; box-sizing: border-box;" :src="$withBase('/speakbook/images/01.png')"  />
    <div class="m-1 p-1 flex-grow-1 flt-box" style="width: 57.5mm; min-height: 79.7mm; box-sizing: border-box;">
      <h3 class="my-1 fsize-5">Cómo escribir en el
speakbook</h3>
      <p class="my-2 fsize-4_5">
Lo que precisamente escriba en speakbook dependerá de sus necesidades concretas. Pero, escriba lo que escriba, es imprescindible que ambas caras de cada doble página desplegada tengan el mismo texto, puesto que son una imagen especular una de la otra (vea ejemplo anterior). ¿Hablan diferentes idiomas? Sin problemas, simplemente escriba en un idioma distinto por cada lado.</p>
    </div>
  </div>
</div>
:::
