::: slot inst-01-flt-right-content
<div class="abs-fill-parent flex-h" style="align-items: flex-end;">
  <div class="flex-grow-1"></div>
  <div class="flex-v">
    <img class="m-1" style="width: 58.5mm; height: 79.7mm; box-sizing: border-box;" :src="$withBase('/speakbook/images/01.png')">
    <div class="m-1 p-1 flex-grow-1 flt-box" style="width: 57.5mm; min-height: 79.7mm; box-sizing: border-box;">
      <h3 class="my-1 fsize-5">کس طرح speakbook پر لکھنے کے لئے</h3>
      <p class="my-2 fsize-4_5">بالکل آپ speakbook اپنے مخصوص ضروریات پر منحصر ہے پر کیا لکھ، لیکن آپ لکھتے ہیں جو کچھ بھی، یہ ضروری ہے کہ کسی بھی ڈبل صفحہ پھیلنے کے ہر طرف سے اس پر وہی متن ہے، اور وہ ایک دوسرے کا عکس کی تصویر ہیں کہ کہ - میں کے طور پر اوپر کی مثال. آپ اور آپ کے ساتھی کرو مختلف زبانیں بولتے ہیں؟ کوئی مسئلہ نہیں ہے - بس دونوں کناروں پر ایک مختلف زبان میں لکھنا.</p>
    </div>
  </div>
</div>
:::
::: slot inst-01-content
<div class="p-1 text-center">
  <SpeakBookTextFourColorBkg class="speakbook-title fsize-10 p-1 bold" :text="$page.frontmatter.text.SPEAKBOOK"></SpeakBookTextFourColorBkg>
</div>
<p>Speakbook لوگ ہیں جو بولتے ہیں اور ان کے ہاتھوں یا بازوؤں کا استعمال کرتے ہوئے مشکل نہیں سکتا کے لئے ایک غیر زبانی مواصلات آلہ ہے، لیکن جو ان کی آنکھوں کے استعمال کو برقرار رکھنے. اس ایڈیشن کو پڑھنے اور ہجے کر سکتے ہیں جو لوگوں کے لئے ہے. غیر قارئین، غیر ملکی زبان ورژن، اور پاکٹ ایڈیشن کے لئے، ملاحظہ ورژن کے لئے<b>acecent.re/speakbook</b></p>
<h2 class="fsize-6">ہدایات براے استعمال.</h2>
<p>شروع کرنے کے لئے، آپ کی ضرورت ہو گی؛ speakbook، ایک سیاہ، غیر مستقل سفید تختہ قلم، ایک کپڑے باہر سے رگڑنا، اور ایک بول پارٹنر کے لئے.</p>
<p>آپ اور آپ کے بولنے والے ساتھی کے علاوہ تین فٹ کے بارے میں ایک دوسرے کے برعکس بیٹھ. آپ کی نظر پر منحصر ہے، آپ کو یہ مددگار کمی یا اس فاصلے بڑھانے کے لئے تلاش کر سکتے ہیں. پیچھے کا احاطہ کے اندر تربیت صفحے پر speakbook کھولیں. یہ آپ کو بنیادی تکنیک سیکھنے میں مدد کرنے کے لئے پہلے سے بھری ہوئی ہے. آپ "ہے اس میں مہارت حاصل کرتے ہیں تو، آپ کو فراہم کی خالی والوں کا استعمال کرتے ہوئے آپ کے اپنے صفحات لکھ سکتے ہیں. خود پر کتاب واپس ڈالتے ہیں اور یہ آپ دونوں ایک "تربیت صفحے" کا سامنا ہے تو، تم دونوں کے درمیان تک منعقد، اور آپ وسط میں سوراخ کے ذریعے ایک دوسرے کی آنکھوں دیکھ سکتے ہیں. اب آپ جس سے ایک بات چیت کرنے کا فیصلہ کرنے کے پیج پر انتخاب پر نظر. آپ "ہے فیصلہ جب، آپ کو آپ کے ساتھی کو اس بات کی نشاندہی ہے کہ آپ کو شروع کرنے کے لئے تیار ہیں
- یہ، یا اوپر اور نیچے آپ کی آنکھوں waggling طرف آپ کے ساتھی کی طرف دیکھ اور ٹمٹمانے کی طرف سے ہو سکتا ہے - جو کچھ بھی سوٹ آپ. اس کے بعد ایک سیکنڈ کے لئے، آپ چاہتے پیغام پر نظر ڈالیں یا اس کے، بڑی علامت پیغام کی پارٹی کی طرف سے تھوڑا ایک کے طور پر ایک ہی کی طرف سے. آپ کے ساتھی اس کے بعد آپ کی آنکھ کی نقل و حرکت کی پیروی کرتا ہے - مثلا اس نے، تم بڑی مثلث کے بعد بورڈ کے اوپر بائیں ہاتھ کی طرف پر دیکھا ہے کہ دکھائی دے سکتا ہے تو وہ جانتا ہے کہ تم کیا کہنا چاہتے ہیں ضروری ہے کہ "چائے کا کپ!". اس کے بعد وہ کہتا ہے، "چائے کا کپ!" زور سے، اور آپ کو ایک جھپک یا کسی اور پری کا اہتمام سگنل کے ساتھ اس بات کی تصدیق</p>
<p>یہ speakbook کا استعمال کرتے ہوئے کے لئے بنیادی ٹیکنالوجی ہے. اب آپ کو آپ کے ساتھ، کسی بھی وقت تبدیل کر سکتے ہیں کہ جملے، اس کی صلاحیت میں speakbook جھوٹ کا سچ جینیس آپ کی اپنی پسند کے جملے کے سینکڑوں کے لئے آپ کو آسان رسائی دینے کے لئے ہے، کیونکہ کتاب میں دیگر صفحات کو استعمال کرنے کا طریقہ سیکھنے کی ضرورت صرف ایک نم کپڑے اور ایک قلم کے جھٹکے.</p>
:::

::: slot inst-02-flt-left-label
<div class="pos-rel fill-height fill-width">
  <img class="abs-fill-parent" :src="$withBase('/speakbook/shapes/inst-02-left-label-bkg.svg')">
  <div class="fsize-8 abs-at-center" style="transform: translate(calc(-50% - 5mm), calc(-50% - 5mm)) rotate(-45deg); color: white;width: 42mm;text-align: center;">{{ $page.frontmatter.text.instructions }}</div>
</div>
:::
::: slot inst-02-flt-left-content
<div class="flex-h" style="padding: 3mm;">
  <div class="flex-grow-1 flex-v">
    <img class="m-1" style="width: 57.5mm; height: 79.7mm; box-sizing: border-box;" :src="$withBase('/speakbook/images/02.png')"  />
    <img class="m-1" style="width: 57.5mm; height: 79.7mm; box-sizing: border-box;" :src="$withBase('/speakbook/images/03.png')"  />
  </div>
  <Content slot-key="cut-out-center-guide" />
</div>
:::
::: slot inst-02-content
<p>speakbook میں سے ہر ایک صفحہ جس پر آپ کو آپ کے اپنے متن لکھ سکتے ہیں 14 یا 15 خالی حصے ہیں. حکم کے صارف مختلف صفحات کے درمیان منتقل کر سکتے ہیں کہ، ہم "گھر" کے صفحے پیدا کیا ہے. اس کتاب کے سامنے میں پایا جاتا ہے، اور صفحے کے کنارے پر ایک سیاہ "گھر" کے ٹیب کے ساتھ نشان لگا دیا گیا ہے. خیال ہے کہ آپ کو اس صفحے پر سب سے زیادہ استعمال کرتے ہیں 7 جملے لکھ، یہ صفحہ آپ کو ہمیشہ پر شروع ہے کے طور پر ہے. اس کے علاوہ، خالی سٹرپس کی 8 پر آپ دیگر 8 خالی ڈبل صفحات کے لنکس لکھیں. ان جملوں کی گہرائی میں زیادہ سیٹ کی ضرورت ہوتی ہے کہ آپ کی زندگی کے کچھ حصوں ہونا چاہئے، ان bathtime جیسے علاقوں ہو، یا گاڑی میں باہر جا سکتا ہے. بائیں جانب "گھر" صفحے کے لئے ایک ممکنہ ترتیب کی ایک مثال ہے. مندانہ بڑے حروف میں 8 الفاظ کہیں اور کتاب میں ڈبل صفحہ اسپریڈز کے لنکس ہیں. آپ ہی ہیں کیا کرتے ہیں، آپ کو مثال کے طور پر ایک خالی صفحے اور لکھنا، تلاش، "بستر" کنارے ٹیب پر، پھر سٹرپس پر آپ 14 جملے سب سے زیادہ آپ کے سونے کا وقت معمول سے متعلقہ لکھیں. اس کے بعد آپ کو دوسرے 7 لنکس کے لئے اس عمل کو دہرائیں آپ کی کتاب مکمل ہے جب تک. آپ ایک غلطی کرتے ہیں، یا ایک جملے کو تبدیل کرنا چاہتے ہیں، تو صرف اسے دور ایک نم کپڑے سے صاف کریں اور دوبارہ شروع کریں.</p>
<p>speakbook کو استعمال کرنے کے لئے، آپ کو آپ کے ساتھی کو بتاتے ہیں کہ آپ کو بات چیت کرنا چاہتے ہیں. آپ کے ساتھی "گھر" کے صفحے پر speakbook کھولتا ہے اور آپ کو مثال کے طور پر "بستر"، بات چیت. آپ کے ساتھی پھر "بستر" کے صفحے پر کر دیتا ہے اور پھر آپ سے بات چیت کر سکتے ہیں، "میں نے بستر پر جانے کے لئے چاہتے ہیں" - یا جو کچھ بھی. ہر صفحے پر پہلے مطبوعہ "گھر" اور "جادو" ہے. "گھر" (آپ کے ساتھ بستر پر لینے کے لئے آپ کو ایک چاہتے ہو سکتا "کپ چائے کا!") ہے کہ آپ ہمیشہ "گھر" کے صفحے پر واپس حاصل کر سکتے ہیں کر سکتے ہیں. "جادو" کے صفحے ڈان "ٹی کہیں اور کتاب میں ظاہر ہے کہ آپ کو انفرادی الفاظ اور جملے باہر جادو کرنے کی اجازت دیتا. یہ ایک فرق کے ساتھ، دیگر صفحات کے طور پر اسی طرح میں کام کرتا ہے. اس صفحے پر 6 رنگ کے بلاکس، اس پر 6 رنگ حروف یا اعداد سے ہر ایک ہیں. پورے حروف تہجی موجود ہے، اس کے علاوہ اعداد 1-9 (صفر استعمال خط O لئے). آپ ایک دوسرے یا اس کے لئے، بات چیت کرنا چاہتے ہیں خط، آپ کے منتخب کردہ خط کے طور پر ایک ہی رنگ کے رنگ بلاک کی طرف سے پیروی کی طرف دیکھو. آپ کے ساتھی، اپنی آنکھوں کی پیروی کرتا تو آپ کی طرف دیکھا مثال کے طور پر، سب سے اوپر بائیں بلاک اوپر دائیں بلاک کے (سبز ہوتی ہے) کی طرف سے پیروی کی ہے کہ دیکھتا ہے، اور آپ "C" چاہتے ہیں جانتا ہے. آپ کے ساتھی کی تصدیق کے لئے بلند آواز سے "C" کہتے ہیں، اور آپ کو اگلے خط پر منتقل. آپ کے ساتھی کے عمل کو تیز کرنے کے لئے، جب بھی ممکن لفظ کے باقی اندازہ.</p>
<p>Speakbook آپ کی پسند کا 119 جملے کے لئے کمرے ہے. یہ کافی نہیں ہے، یا آپ کو ایک خاص حصے میں 14 سے زائد جملے کی ضرورت ہے تو، پھر آپ کو دو سرخ رنگ میں ایک، سیاہ قلم میں سے ایک، ہر سطر پر جملے لکھ کر اس کی صلاحیت کو دوگنا کر سکتے ہیں. آپ معمول کے راستے میں ایک سیاہ کرتے، آپ کو بھاری علامت کو دیکھو جب ٹمٹمانے طرف ایک سرخ ایک کو منتخب.</p>
:::
