::: slot training-page-description
<p class="fsize-3">آپ کو اس کی تربیت صفحے کا استعمال کرتے ہوئے بنیادی تکنیک سیکھا ہے جب،
  آپ کو اس کتاب میں خالی والوں استعمال آپ کے اپنے صفحات لکھ سکتے ہیں.</p>
:::
