::: slot inst-01-flt-right-content
<div class="abs-fill-parent flex-h" style="align-items: flex-end;">
  <div class="flex-grow-1"></div>
  <div class="flex-v">
    <img class="m-1" style="width: 58.5mm; height: 79.7mm; box-sizing: border-box;" :src="$withBase('/speakbook/images/01.png')"  />
    <div class="m-1 p-1 flex-grow-1 flt-box" style="width: 57.5mm; min-height: 79.7mm; box-sizing: border-box;">
      <h3 class="my-1 fsize-5">SpeakBook ausfüllen</h3>
      <p class="my-2 fsize-4_5">Was genau Sie in das SpeakBook schreiben,hängt allein von Ihren persönlichen Wünschen ab. Wichtig ist nur, dass auf beiden Seiten eines Blatts der gleiche Text steht und dass die beiden Seiten sich wie Bild und Spiegelbild verhalten - wie in dem Beispiel oben. Sprechen Sie und Ihr Partner verschiedene Sprachen? Kein Problem - beschriften Sie einfach die beiden Seiten in verschiedenen Sprachen.</p>
    </div>
  </div>
</div>
:::
::: slot inst-01-content
<div class="p-1 text-center">
  <SpeakBookTextFourColorBkg class="speakbook-title fsize-10 p-1 bold" :text="$page.frontmatter.text.SPEAKBOOK"></SpeakBookTextFourColorBkg>
</div>
<p>SpeakBook ist ein nicht-verbales Kommunikationswerkzeug für Menschen, die zwar nicht sprechen können und Schwierigkeiten beim Gebrauch ihrer Arme oder Hände haben, die aber problemlos ihre Augen benutzen können. Diese Version ist für Menschen, die lesen und buchstabieren können. Versionen für nicht-lesende Menschen, in anderen Sprachen oder für eine Taschenausgabe finden Sie auf <b>acecent.re/speakbook</b></p>
<h2 class="fsize-6">Hinweise für die Benutzung</h2>
<p>Für den Anfang brauchen Sie das SpeakBook, einen abwischbaren schwarzen Marker für Whiteboards, ein Tuch oder einen Schwamm zum Abwischen, und einen Gesprächspartner.</p>
<p>
Sie und ihr Gesprächspartner sitzen sich in einem Abstand von etwa 1 Meter gegenüber. Sie können diesen Abstand je nach Bedarf verringern oder vergrößern. Öffnen Sie das SpeakBook zunächst mit der Trainingsseite, das ist die Innenseite des hinteren Deckels. Diese Seite ist bereits beschriftet, um ihnen das Erlernen der grundlegenden Vorgehensweise zu erleichtern. Später können Sie dann die anderen noch leeren Seiten mit ihren eigenen Inhalten füllen. Klappen Sie das Buch nach hinten zusammen und halten Sie es so, dass Sie beide auf die gleiche Trainingsseite blicken und sich gegenseitig durch die Aussparung in der Mitte in die Augen schauen können. Schauen Sie nun die Auswahlmöglichkeiten auf der Seite an und entscheiden Sie sich für eine, die Sie jetzt kommunizieren wollen. Danach signalisieren Sie ihrem Partner, dass es losgehen kann: Sie können ihm beispielsweise zublinzeln, oder Sie bewegen die Augen von oben nach unten und zurück – was auch immer für Sie am einfachsten ist. Dann schauen Sie etwa 1 Sekunde lang auf die ausgewählte Nachricht und danach auf das der vier großen Symbole, das zu der gewählten Nachricht gehört. Ihr Partner folgt ihren Augenbewegungen – so sieht er zum Beispiel, dass Sie zuerst in die linke obere Ecke und danach auf das große Dreieck geschaut haben und weiß, dass Sie „eine Tasse Tee“ sagen wollen. Er wiederholt jetzt laut „eine Tasse Tee“ und Sie bestätigen das durch Blinzeln oder mit einem anderen zuvor verabredeten Zeichen.
</p>
<p>So einfach funktioniert SpeakBook. Nun müssen Sie nur noch lernen, wie Sie die übrigen Seiten nutzen, denn das geniale an SpeakBook ist, dass Sie damit ganz einfach auf Hunderte von Sätzen Ihrer Wahl zugreifen können, die Sie außerdem auch jederzeit ändern können - nur mit einem Tuch und einem Marker.</p>
:::
::: slot inst-02-flt-right-label
<div class="pos-rel fill-height fill-width">
  <img class="abs-fill-parent" :src="$withBase('/speakbook/shapes/inst-02-right-label-bkg.svg')" />
  <div class="fsize-8 abs-at-center" style="transform: translate(calc(-50% + 5mm), calc(-50% - 5mm)) rotate(45deg); color: white;width: 42mm;text-align: center;">{{ $page.frontmatter.text.instructions }}</div>
</div>
:::
::: slot inst-02-flt-left-content
<div class="flex-h" style="padding: 3mm;">
  <div class="flex-grow-1 flex-v">
    <img class="m-1" style="width: 57.5mm; height: 79.7mm; box-sizing: border-box;" :src="$withBase('/speakbook/images/02.png')"  />
    <img class="m-1" style="width: 57.5mm; height: 79.7mm; box-sizing: border-box;" :src="$withBase('/speakbook/images/03.png')"  />
  </div>
  <Content slot-key="cut-out-center-guide" />
</div>
:::
::: slot inst-02-content
<p>Jede Seite des SpeakBooks hat 14 oder 15 leere Felder, die Sie mit eigenem Text füllen können. Damit der Benutzer einfacher zwischen den verschiedenen Seiten wechseln kann, gibt es die Startseite. Das ist die erste Seite des Buchs und mit dem schwarzen Reiter „START“ gekennzeichnet. Auf diese Seite schreiben Sie jetzt die 7 häufigsten Sätze, die Sie brauchen, denn mit dieser Seite werden Sie immer beginnen. Weiter können Sie auf acht der leeren Felder Verweise (Links) auf die anderen acht leeren Doppelseiten schreiben. Diese sollten sich Bereiche ihres alltäglichen Lebens betreffen, für die ein einzelner Satz nicht ausreicht; beispielsweise Körperpflege oder ein Ausflug mit dem Auto. Links sehen Sie ein Beispiel für eine mögliche Gestaltung einer STARTseite. Die 8 Wörter in Großbuchstaben sind die Verweise zu den 8 Doppelseiten weiter hinten. Suchen Sie sich also beispielsweise eine leere Doppelseite, beschriften den Reiter mit dem Wort „BETT“ und füllen dann die leeren Felder mit Ihren 14 wichtigsten Sätzen rund um das Thema Bett. Und so beschriften Sie die anderen 7 Links, bis das Buch voll ist. Falls Sie etwas ändern wollen oder Sie haben einen Fehler gemacht, wischen Sie das Geschriebene einfach weg und beschriften neu.</p>
<p>Zum Benutzen des SpeakBooks signalisieren Sie ihrem Partner, dass Sie kommunizieren möchten. Ihr Partner öffnet das SpeakBook mit der STARTseite und Sie beginnen zu kommunizieren, beispielsweise mit „BETT“. Ihr Partner schlägt die Seite mit „BETT“ auf, und Sie wählen aus“ ich möchte zu Bett gehen“  – oder etwas anderes. Auf jeder Seite sind zwei Felder bereits mit START bzw. ABC beschriftet. Mit START kommen Sie immer zurück zu der STARTseite (vielleicht möchten Sie ja "eine Tasse Tee" zum Bett mitnehmen?). Mit der Seite ABC können Sie einzelne Wörter und Sätze buchstabieren, die im Buch nicht vorkommen. Das funktioniert genauso wie auf den anderen Seiten, mit dem Unterschied, dass es auf dieser Seite sechs verschiedenfarbige Blöcke gibt, von denen jeder sechs Buchstaben bzw. Zahlen wiederum in verschiedenen Farben enthält. Das ist das ganze Alphabet ergänzt mit den Zahlen 1-9 (für die Null benutzen Sie bitte den Buchstaben O). Sie schauen ca. 1. Sekunde auf den Buchstaben, den Sie kommunizieren wollen, und danach auf den Block, der die gleiche Farbe hat wie der ausgewählte Buchstabe. Folgt ihr Partner Ihrem Blick, sieht er, dass Sie zum Beispiel auf den oberen linken Block geschaut haben und anschließend auf den oberen rechten Block (den grünen) und weiß dann, dass Sie den Buchstaben „C“ meinen. Ihr Partner sagt laut „C“, Sie bestätigen das, dann fahren Sie mit dem nächsten Buchstaben fort. Ihr Partner kann natürlich durch Erraten des Wortes den ganzen Vorgang noch etwas beschleunigen.</p>
<p>SpeakBook bietet Platz für 119 Sätze ihrer Wahl. Wenn das nicht genug ist oder wenn Sie mehr als 14 Sätze für ein bestimmtes Thema brauchen, können Sie die Kapazität einfach dadurch verdoppeln, dass Sie in jedes Feld zwei Sätze schreiben, einen in schwarz und einen in rot. Den Satz in schwarz wählen Sie auf die „normale“, gerade beschriebene Art, für den roten Satz blinzeln Sie ihrem Partner erst nochmal zu, bevor Sie auf das zugehörige Symbol blicken.</p>
:::

