::: slot cover-footer
<div class="flex-h items-align-center lheight-1_5x" style="width: calc(var(--page-width) - 60mm);">
  <p class="cover-footer-text">
    <span class="fsize-8 bold">nie-verbale kommunikasiestelsel</span> <br>
    <span class="red-color fsize-8 bold">acecent.re/speakbook</span> <br>
    <span class="fsize-4"> Speakbook 5de uitgawe © 2020 Patrick Joyce & Ace Centre, Vertaal op Emma Emmerich </span>
  </p>
  <div class="flex-grow-1"></div>
  <img style="width: 30mm;height: 30mm;" :src="$withBase('/speakbook/images/PublishedByAce.svg')" />
</div>
:::
