::: slot last-page-heading
<div class="float-left" style="width: 40mm; height: 37mm; shape-outside: polygon(0 0, 40mm 0, 10mm 100%, 0 100%);"></div>
<h2 class="my-2">Vinger spel bladsy.</h2>
<p class="my-2">As u nog steeds die gebruik van u hande het, is hierdie bladsy vir u. Spel woorde en frases uit aan u maat deur met 'n vinger te wys. Woorde wat gereeld gebruik word, kan in die leë blokkies geskryf word. As u na die woord <strong class="bold"> "TUIS" * </strong> wys, dui dit aan u maat dat u nou met u oë wil kommunikeer met behulp van die hoofboek.
</p>
:::
