::: slot inst-01-flt-right-content
<div class="abs-fill-parent flex-h" style="align-items: flex-end;">
  <div class="flex-grow-1"></div>
  <div class="flex-v">
    <img class="m-1" style="width: 58.5mm; height: 79.7mm; box-sizing: border-box;" :src="$withBase('/speakbook/images/01.png')"  />
    <div class="m-1 p-1 flex-grow-1 flt-box" style="width: 57.5mm; min-height: 79.7mm; box-sizing: border-box;">
      <h3 class="my-1 fsize-5">Kako da popunjavate pričanku</h3>
      <p class="my-2 fsize-4_5">Šta ćete tačno pisati u svojoj Pričanki zavisiće od vaših specifičnih potreba, ali što god pisali, važno je da svaka strana raširene knjige ima isti tekst i da su oni kao odraz u ogledalu - kao u gornjem primeru. Da li vi i vaš partner govorite različite jezike? Nije problem - samo napišite različite jezike na svakoj od strana. </p>
    </div>
  </div>
</div>
:::
::: slot inst-01-content
<div class="p-1 text-center">
  <SpeakBookTextFourColorBkg class="speakbook-title fsize-10 p-1 bold" :text="$page.frontmatter.text.SPEAKBOOK"></SpeakBookTextFourColorBkg>
</div>
<p>Pričanka je alat za neverbalnu komunikaciju za ljude koji ne mogu da govore i imaju teškoće sa upotrebom ruku a koji mogu da pokreću i koriste svoje oči. Ovo izdanje je za ljude koji mogu da čitaju i speluju. Za verzije za nečitače, verzije na stranim jezicima i džepno izdanje, posetite  <b>acecent.re/speakbook</b></p>
<h2 class="fsize-6">Uputstva za upotrebu.</h2>
<p>Da biste počeli, trebaće vam: Pričanka, crni flomaster za belu tablu, vlažna krpica za brisanje i partner za komunikaciju.</p>
<p>
Vaš partner i vi sedite jedan nasuprot drugog na razdaljini od oko jedan metar. U zavisnosti od vašeg vida, možda ćete želeti da smanjite ili povećate ovu razdaljinu. Otvorite Pričanku na stranici za vežbanje unutar zadnje korice. Ova stranica je već popunjena da vam pomogne da naučite osnovnu tehniku. Kada savladate tehniku, možete da pišete svoje sopstvene strane koristeći prazne stranice u ovoj knjizi. Presavijte knjigu i držite je između vas tako da oboje gledate  ‟stranicu za vežbanje‟, i gledate jedan drugog u oči kroz rupu u sredini. Sada pogledajte u izbore koji su ponuđeni na stranici da biste odlučili koji želite da komunicirate. Kada izaberete, dajte signal partneru da ste spremni da počnete - to možete uraditi gledanjem u partnera i treptanjem ili pomeranjem očiju gore dole - šta god vam odgovara. Onda pogledajte u poruku koju želite, otprilike sekundu-dve i potom u veliki simbol koji je isti kao mali simbol pored poruke koju ste izabrali. Vaš partner potom prati vaše pokrete oka - recimo, on vidi da ste pogledali ka gornjoj levoj strani table i potom u veliki trougao, tako da sada on zna da želite da kažete „šolja čaja !‟. Partner tada kaže, “šolja čaja !” naglas, i vi potvrđujete treptanjem ili nekim drugim prethodno dogovorenim signalom 
</p>
<p>To je osnovna tehnika za korišćenje Pričanke. Sada treba da naučite kako da koristite ostale stranice u knjizi, zato što prava genijalnost Pričanke leži u njenoj mogućnosti da vam omogući jednostavan pristup stotinama rečenica koje ste sami odabrali, rečenica koje u svakom trenutku možete promeniti samo uz pomoć vlažne krpice i pokreta olovke.</p>
:::

::: slot inst-02-flt-right-label
<div class="pos-rel fill-height fill-width">
  <img class="abs-fill-parent" :src="$withBase('/speakbook/shapes/inst-02-right-label-bkg.svg')" />
  <div class="fsize-8 abs-at-center" style="transform: translate(calc(-50% + 5mm), calc(-50% - 5mm)) rotate(45deg); color: white;width: 42mm;text-align: center;">{{ $page.frontmatter.text.instructions }}</div>
</div>
:::
::: slot inst-02-flt-left-content
<div class="flex-h" style="padding: 3mm;">
  <div class="flex-grow-1 flex-v">
    <img class="m-1" style="width: 57.5mm; height: 79.7mm; box-sizing: border-box;" :src="$withBase('/speakbook/images/02.png')"  />
    <img class="m-1" style="width: 57.5mm; height: 79.7mm; box-sizing: border-box;" :src="$withBase('/speakbook/images/03.png')"  />
  </div>
  <Content slot-key="cut-out-center-guide" />
</div>
:::
::: slot inst-02-content
<p>Na svakoj stranici Pričanke postoji 14 ili 15 praznih mesta na koje možete ispisati svoj tekst. Da bi korisnik mogao da se kreće po različitim stranicama, napravili smo  „početnu‟ stranicu. Ona se nalazi na početku knjige i obeležena je sa crnom „POČETNA‟ etiketom na ivici stranice. Ideja je da na ovoj stranici napišete 7 rečenica koje najčešće koristite, obzirom da je ovo stranica na kojoj ćete uvek počinjati. Takođe, na 8 preostalih polja napišite nazive ostalih 8 dvostrukih stranica. To bi trebalo da budu oblasti vašeg života koje zahtevaju produbljeniji set rečenica, na primer oblasti kao što su kupanje ili vožnja kolima. Na levoj strani je jedan od mogućih rasporeda za „POČETNU‟ stranu.  8 reči napisanih crnim velikim slovima su veze ka dugim dvostrukim stranicama koje se nalaze u knjizi. Ono što treba da uradite je da pronađete praznu stranicu i na etiketi na ivici napišete, recimo, „KREVET‟ a zatim u praznim poljima napišite 14 rečenica najrelevantnijih za vašu rutinu pripreme za spavanje. Onda ponovite ovaj postupak i za ostalih 7 veza, dok ne popunite knjigu. Ukoliko pogrešite, ili želite da promenite neku rečenicu, samo je obrišite vlažnom krpicom i počnite ispočetka.</p>
<p>Da biste koristili Pričanku dajte znak svom partneru da želite da komunicirate. Vaš partner otvara Pričanku na „POČETNOJ‟ strani i vi komunicirate, recimo, „KREVET‟. Vaš partner zatim okreće stranu „KREVET‟ i onda možete da komunicirate, „Hoću da idem u krevet‟ - ili već šta god želite. Svaka strana na sebi ima odštampano „POČETNA‟ i „SPELOVANJE‟.  „POČETNA‟ da biste uvek mogli da se vratite na „POČETNU‟ stranu (možda ćete želeti da ponesete „Šolja čaja !‟ sa sobom u krevet). Stranica ‟SPELOVANJE‟ omogućava vam da spelujete pojedinačne reči i fraze koje se ne pojavljuju nigde u knjizi. Ona funkcioniše na sličan način kao i ostale stranice, sa jednom razlikom. Na ovoj stranici ima 6 obojenih blokova, svaki sa 6 obojenih slova ili brojeva na sebi. Tu je cela azbuka, plus brojevi 1-9 (za nulu koristite slovo O). Gledajte u slovo koje želite da komunicirate sekund-dva, a potom u blok koji je iste boje kao i izabrano slovo. Partner prati vaše oči, vidi da ste pogledali, recimo, gornji levi blok i zatim gornji desni blok (koji je zelen), i zna da želite „C‟. Vaš partner kaže naglas „C‟ da potvrdi, i prelazite na sledeće slovo. Kada je moguće vaš partner može da pogađa ostatak reči, da bi ubrzao proces.
</p>
<p>Pričanka ima mesta za 119 rečenica po vašem izboru. Ukoliko vam to nije dovoljno, ili ukoliko vam treba više od 14 rečenica u nekoj određenoj oblasti, možete da udvostručite kapacitet tako što ćete pisati po dve rečenice na jednoj liniji, jednu crnom bojom a drugu crvenom. Crnu rečenicu birate na normalan način a crvenu tako što trepnete dok gledate u veliki simbol.</p>
:::
