::: slot inst-01-flt-right-content
<div class="abs-fill-parent flex-h" style="align-items: flex-end;">
  <div class="flex-grow-1"></div>
  <div class="flex-v">
    <img class="m-1" style="width: 58.5mm; height: 79.7mm; box-sizing: border-box;" :src="$withBase('/speakbook/images/01.png')"  />
    <div class="m-1 p-1 flex-grow-1 flt-box" style="width: 57.5mm; min-height: 79.7mm; box-sizing: border-box;">
      <h3 class="my-1 fsize-5">Како писати у зборнику</h3>
      <p class="my-2 fsize-4_5">Шта тачно напишете у говорнику зависиће од ваших посебних захтева, али шта год да напишете, важно је да свака страна било које странице на дуплој страници има исти текст на себи и да су једна од друге пресликана у огледалу – као у пример изнад. Да ли ви и ваш партнер говорите различите језике? Нема проблема - само напишите други језик са обе стране.</p>
    </div>
  </div>
</div>
:::
::: slot inst-01-content
<div class="p-1 text-center">
  <SpeakBookTextFourColorBkg class="speakbook-title fsize-10 p-1 bold" :text="$page.frontmatter.text.SPEAKBOOK"></SpeakBookTextFourColorBkg>
</div>
<p>Спеакбоок је невербално комуникацијско средство за људе који не могу да говоре и имају потешкоћа да користе шаке или руке, али који и даље користе очи. Ово издање је за људе који умеју да читају и спелују. За верзије за нечитаоце, верзије на страном језику и џепно издање, посетите<b>acecent.re/speakbook</b></p>
<h2 class="fsize-6">Упутство за употребу.</h2>
<p>Да бисте започели, требаће вам; зборник, црна, нетрајна оловка за таблу, крпа за брисање и партнер који говори.</p>
<p>
Ви и ваш партнер који говори седите једно наспрам другог на удаљености од три стопе. У зависности од вашег вида, можда ће вам помоћи да смањите или повећате ову удаљеност. Отворите говорник на страници за обуку унутар задње корице. Ово је већ попуњено да би вам помогло да научите основну технику. Када то савладате, можете писати своје странице, користећи празне странице које сте добили. Пресавијте књигу на себе и држите је између себе, тако да сте обоје окренути према „страници за обуку“ и да можете да видите једно другом очи кроз рупу у средини. Сада погледајте изборе на страници да бисте одлучили који ћете комуницирати. Када се одлучите, показујете свом партнеру да сте спремни да почнете
- то може бити гледањем у партнера и трептањем, или махањем очима горе-доле - шта год вама одговара. Затим на секунду погледајте поруку коју желите, а затим велики симбол који је исти као мали поред поруке. Ваш партнер тада прати ваше покрете очију – на пример, могао би да види да сте погледали горњу леву страну табле коју прати велики троугао, тако да зна да морате да кажете „шоља чаја!“. Затим каже: "шоља чаја!" наглас, а ви то потврђујете трептањем, или неким другим унапред договореним сигналом
</p>
<p>Ово је основна техника за коришћење говорника. Сада морате да научите како да користите друге странице у књизи, јер прави гениј говорника лежи у његовој способности да вам пружи лак приступ стотинама фраза по вашем избору, фразама које можете да промените у било ком тренутку, помоћу само влажна крпа и потез пера.</p>
:::

::: slot inst-02-flt-right-label
<div class="pos-rel fill-height fill-width">
  <img class="abs-fill-parent" :src="$withBase('/speakbook/shapes/inst-02-right-label-bkg.svg')" />
  <div class="fsize-8 abs-at-center" style="transform: translate(calc(-50% + 5mm), calc(-50% - 5mm)) rotate(45deg); color: white;width: 42mm;text-align: center;">{{ $page.frontmatter.text.instructions }}</div>
</div>
:::
::: slot inst-02-flt-left-content
<div class="flex-h" style="padding: 3mm;">
  <div class="flex-grow-1 flex-v">
    <img class="m-1" style="width: 57.5mm; height: 79.7mm; box-sizing: border-box;" :src="$withBase('/speakbook/images/02.png')"  />
    <img class="m-1" style="width: 57.5mm; height: 79.7mm; box-sizing: border-box;" :src="$withBase('/speakbook/images/03.png')"  />
  </div>
  <Content slot-key="cut-out-center-guide" />
</div>
:::
::: slot inst-02-content
<p>Свака страница зборника има 14 или 15 празних секција на којима можете написати свој текст. Да би корисник могао да се креће између различитих страница, направили смо „почетну“ страницу. Ово се налази на предњој страни књиге и означено је црном картицом „ХОМЕ“ на ивици странице. Идеја је да на овој страници напишете 7 фраза које највише користите, јер је то страница на којој увек почињете. Такође, на 8 празних трака пишете везе до осталих 8 празних дуплих страница. Ово би требало да буду делови вашег живота који захтевају дубљи скуп фраза, то могу бити области попут купања или изласка у аутомобил. На левој страни је пример могућег изгледа за „ХОМЕ‟ страницу. 8 речи подебљаних великим словима су везе ка двоструким страницама на другим местима у књизи. Оно што радите је да пронађете празну страницу и напишете, на пример, „КРЕВЕТ“ на ивици, а затим на траке напишете 14 фраза које су најрелевантније за вашу рутину пре спавања. Затим поновите овај поступак за осталих 7 веза, док се књига не напуни. Ако направите грешку или желите да промените фразу, само је обришите влажном крпом и почните поново.</p>
<p>Да бисте користили зборник, назначите свом партнеру да желите да комуницирате. Ваш партнер отвара говорник на „ХОМЕ‟ страници и ви комуницирате, на пример, „КРЕВЕТ”. Ваш партнер се тада окреће на страницу „КРЕВЕТ” и онда можете да комуницирате: „Желим да идем у кревет” - или било шта друго. Свака страница има унапред одштампане „ХОМЕ‟ и „СПЕЛЛ”. „ХОМЕ“ је тако да увек можете да се вратите на „ХОМЕ“ страницу (можда бисте желели „Шољу чаја!“ да понесете са собом у кревет). Страница ‟СПЕЛЛ‟ вам омогућава да спелујете појединачне речи и фразе које се не појављују нигде у књизи. Ради на сличан начин као и остале странице, са једном разликом. На овој страници се налази 6 блокова у боји, сваки са 6 обојених слова или бројева на себи. Цела абецеда је ту, плус бројеви 1-9 (за нулу користите слово О). Гледате у слово које желите да комуницирате, на секунд или тако нешто, а затим следи обојени блок исте боје као и ваше одабрано писмо. Ваш партнер прати ваше очи, види да сте погледали, на пример, горњи леви блок праћен горњим десним блоком (који је зелен), и зна да желите „Ц‟. Ваш партнер каже „Ц‟ наглас да потврди, а ви прелазите на следеће слово. Ваш партнер погађа остатак речи када је то могуће, како би убрзао процес.</p>
<p>Спеакбоок има места за 119 фраза по вашем избору. Ако ово није довољно, или ако вам је потребно више од 14 фраза у једном одређеном делу, онда можете удвостручити његов капацитет тако што ћете написати две фразе у сваки ред, једну црном оловком, једну црвеном. Црну фразу бирате на нормалан начин, црвену трептањем када погледате велики симбол.</p>
:::
