::: slot last-page-heading
<div class="float-left" style="width: 40mm; height: 37mm; shape-outside: polygon(0 0, 40mm 0, 10mm 100%, 0 100%);"></div>
<h2 class="my-2">Stranica za kucanje prstom (spelovanje)</h2>
<p class="my-2">
Ukoliko još uvek možete da koristite ruke, ove stranica je za vas. 
  Pokazujući prstom slova možete napisati reči i rečenice svom partneru.
  Reči koje se često upotrebljavaju mogu se napisati u prazna polja.
  Pokazujući reč <strong class="bold">„ POČETNA‟*</strong> svojem partneru dajete do znanja da sada
  želite da komunicirate pomoću očiju koristeći glavnu knjigu. 
</p>
:::
