::: slot last-page-heading
<div class="float-left" style="width: 40mm; height: 37mm; shape-outside: polygon(0 0, 40mm 0, 10mm 100%, 0 100%);"></div>
<h2 class="my-2">Страница за правопис прста.</h2>
<p class="my-2">
  Ако још увек користите своје руке, онда је ова страница за вас.
   Показивањем прстом можете свом партнеру спеловати речи и фразе.
   Често коришћене речи се могу уписати у празна поља.
   Показујући на реч <strong class="bold">„ HOME ‟*</strong> указује вашем партнеру да сада
   желите да комуницирате својим очима користећи главну књигу.
</p>
:::
