::: slot inst-01-flt-right-content
<div class="abs-fill-parent flex-h" style="align-items: flex-end;">
  <div class="flex-grow-1"></div>
  <div class="flex-v">
    <img class="m-1" style="width: 58.5mm; height: 79.7mm; box-sizing: border-box;" :src="$withBase('/speakbook/images/01.png')"  />
    <div class="m-1 p-1 flex-grow-1 flt-box" style="width: 57.5mm; min-height: 79.7mm; box-sizing: border-box;">
      <h3 class="my-1 fsize-5">Como escrever no Speakbook </h3>
      <p class = "my-2 fsize-4_5"> Aquilo que escreve no Speakbook irá depender das suas necessidades específicas. Mas, independentemente do que escrever, deve sempre manter o mesmo texto em duas páginas consecutivas, como que sendo o espelho uma da outra - tal como o exemplo acima. O seu parceiro de comunicação fala num idioma diferente do seu? Sem problema - escreva em diferentes idiomas em cada lado. </p>
    </div>
  </div>
</div>
:::
::: slot inst-01-content
<div class="p-1 text-center">
  <SpeakBookTextFourColorBkg class="speakbook-title fsize-10 p-1 bold" :text="$page.frontmatter.text.SPEAKBOOK"></SpeakBookTextFourColorBkg>
</div>
<p> Speakbook é uma ferramenta de comunicação para pessoas que não conseguem falar e têm dificuldades em usar os membros superiores, mas retêm função ocular. Esta edição destina-se a pessoas que conseguem ler e soletrar. Versões para pessoas que não conseguem ler, em outros idiomas, e edição livro de bolso disponíveis em <b>https://acecentre/speakbook</b> </p>
<h2 class = "fsize-6"> Instruções de uso. </h2>
<p> Para começar, irá precisar de: Speakbook, um marcador de tinta preta não-permanete e respetivo quadro, um pano para apagar, e um parceiro de comunicação. </p>
<p>
Sente-se de frente para o seu parceiro de comunicação, à distância de um metro. Dependendo da sua visão, talvez sinta que devem ajustar esta distância. Abra o Speakbook na página de teste, na contra-página. Esta página já se encontra preenchida, para o ajudar a aprender a técnica base para uso. Quando estiver confortável com esta técnica, poderá personalizar as suas páginas usando os espaços em branco disponibilizados. Abra o livro completamente sobre si próprio nesta página. Segure-o entre vocês os dois de forma que ambos estejam a ver a página de teste, e consigam ver os olhos um do outro, através da abertura central. Agora, olhe para as mensagens na página e escolha uma. Quando decidir, dê sinal ao seu parceiro que está preparado para começar – este sinal pode ser dado olhando para o seu parceiro e piscar os olhos, movendo as sobrancelhas, etc. – o que se sentir mais confortável. A seguir, olhe para a mensagem que pretende comunicar, por aproximadamente um segundo, e depois para o símbolo grande, ou cor, que corresponde ao que está na mensagem que escolheu. O seu parceiro seguirá os movimentos dos seus olhos – exemplo: o seu parceiro verá que olhou para o canto superior esquerdo seguido do triângulo grande (/azul), e vê que a palavra escolhida por si é „copo de água !”. Então ele diz, „copo de água !” em voz alta, e você confirma com o sinal previamente combinado.
</p>
<p> Esta é a técnica base para usar o Speakbook. Agora, deverá aprender como utilizar as outras páginas do livro, pois a verdadeira essência do Speakbook reside no facto de lhe proporcionar fácil acesso a centenas de frases à sua escolha, que pode alterar sempre quiser, recorrendo apenas a um pano húmido e uma caneta. </p>
:::


::: slot inst-02-flt-right-label
<div class="pos-rel fill-height fill-width">
  <img class="abs-fill-parent" :src="$withBase('/speakbook/shapes/inst-02-right-label-bkg.svg')" />
  <div class="fsize-8 abs-at-center" style="transform: translate(calc(-50% + 5mm), calc(-50% - 5mm)) rotate(45deg); color: white;width: 42mm;text-align: center;">{{ $page.frontmatter.text.instructions }}</div>
</div>
:::

::: slot inst-02-flt-left-content
<div class="flex-h" style="padding: 3mm;">
  <div class="flex-grow-1 flex-v">
    <img class="m-1" style="width: 57.5mm; height: 79.7mm; box-sizing: border-box;" :src="$withBase('/speakbook/images/02.png')"  />
    <img class="m-1" style="width: 57.5mm; height: 79.7mm; box-sizing: border-box;" :src="$withBase('/speakbook/images/03.png')"  />
  </div>
  <Content slot-key="cut-out-center-guide" />
</div>
:::
::: slot inst-02-content
<p>Cada página do Speakbook tem 14 ou 15 secções em branco, onde pode escrever o seu próprio conteúdo. Para que o utilizador possa navegar pelas diferentes páginas, criamos a „Página Inicial”. Esta encontra-se na frente do livro, e está marcada na margem da página com “INÍCIO” numa aba a negro. A ideia é escrever as 7 frases que mais usa nesta página, pois esta é a página a partir de onde irá sempre começar. Nos restantes 8 espaços em branco escreva as ligações que o direcionam para outras 8 folhas. Estas devem ser utilizadas para aspetos da sua vida que necessitem de frase mais específicas – tal como hora do banho, ou sair de carro. À esquerda está um exemplo de um formato para a página “INÍCIO”. As 8 letras maiúsculas a negrito são ligações para as diferentes secções distribuídas pelo livro. Por exemplo, numa página em branco escreva “CAMA” na aba da página, e preencha os espaços em branco com as 14 frases mais relevantes para esta secção, relacionadas com a sua rotina de deitar. Repita este processo para as restantes 7 ligações da página inicial, até preencher o livro todo. Se se enganar, ou quiser mudar algo, simplesmente apague e comece de novo. </p>
<p> Para usa o Speakbook, deve indicar ao seu parceiro de comunicação que pretende comunicar. O seu parceiro abre o Speakbook na página „INÍCIO” e você comunica, por exemplo, „CAMA”. O seu parceiro irá então folhear o livro para a secção „CAMA” e você poderá comunicar, „Quero ir para a cama” – ou algo diferente. Cada página tem „INÍCIO” e „SOLETRAR” pré-impresso. „INÍCIO” serve para que possa sempre voltar à página „INÍCIO” (no caso de querer levar um „Copo de água” para a cama). „SOLETRAR” permite-lhe soletrar alguma palavra que não esteja no livro. Esta página funciona de forma semelhante às outras, com uma diferença. Esta página contém 6 blocos coloridos, cada um com 6 letras ou números coloridos. Está incluído o alfabeto completo, mais números de 1-9 (para zero use a letra O). Para selecionar deve olhar para a letra que quer comunicar, por aproximadamente um segundo, seguido do bloco que corresponde à cor da letra que escolheu. O seu parceiro segue os movimentos dos seus olhos, vê para onde olhou e deteta o que escolheu. Por exemplo, olha para o bloco no canto superior esquerdo seguido do bloco superior direito, e sabe que escolheu a letra „C”. O seu parceiro diz „C” em alta voz pra confirmar, e você continua para a próxima letra. Quando possível, o seu parceiro tenta adivinhar o resto da palavra, para acelerar o processo.  </p>
<p> O Speakbook tem espaço para 119 frases à sua escolha. Se não for suficiente, ou se precisar de adicionar mais de 14 frases numa secção em específico, pode duplicar a sua capacidade escrevendo duas frases em cada linha, uma em preto e outra em vermelho.  Escolhe a frase preta pelo processo normal, e a vermelha piscando os olhos quando olha para o símbolo grande. </p>
:::
