::: slot last-page-heading
<div class="float-left" style="width: 40mm; height: 37mm; shape-outside: polygon(0 0, 40mm 0, 10mm 100%, 0 100%);"></div>
<h2 class="my-2"> Apontar para soletrar. </h2>
<p class = "my-2">
  Se retém funcionalidade nas suas mãos, esta página é para si.
  Ao apontar com o dedo, pode soletrar palavras e frases para o seu parceiro.
  Palavras usadas com frequência podem ser escritas nos espaços em branco.
  Ao apontar para a palavra <strong class = "bold"> „ INÍCIO"*</strong> indica ao seu parceiro que deseja comunicar com seus olhos usando o livro.
</p>
:::
