::: slot inst-01-flt-right-content
<div class="abs-fill-parent flex-h" style="align-items: flex-end;">
  <div class="flex-grow-1"></div>
  <div class="flex-v">
    <img class="m-1" style="width: 58.5mm; height: 79.7mm; box-sizing: border-box;" :src="$withBase('/speakbook/images/01.png')">
    <div class="m-1 p-1 flex-grow-1 flt-box" style="width: 57.5mm; min-height: 79.7mm; box-sizing: border-box;">
      <h3 class="my-1 fsize-5">كيفية الكتابة على speakbook</h3>
      <p class="my-2 fsize-4_5">بالضبط ما تكتبه على speakbook سيعتمد على المتطلبات الخاصة بك، ولكن كل ما يكتب، فمن المهم أن كل جانب من أي انتشار الصفحة مزدوج له نفس النص على ذلك، وأنها صورة طبق الأصل من بعضها البعض - كما هو الحال في في المثال أعلاه. هل أنت وشريك حياتك يتكلمون لغات مختلفة؟ لا مشكلة - مجرد كتابة لغة مختلفة على جانبي.</p>
    </div>
  </div>
</div>
:::
::: slot inst-01-content
<div class="p-1 text-center">
  <SpeakBookTextFourColorBkg class="speakbook-title fsize-10 p-1 bold" :text="$page.frontmatter.text.SPEAKBOOK"></SpeakBookTextFourColorBkg>
</div>
<p>Speakbook هو أداة الاتصال اللفظي غير بالنسبة للأشخاص الذين لا يستطيعون الكلام ويجدون صعوبة في استخدام أيديهم أو أذرعهم، ولكن الذين يحتفظون استخدام أعينهم. هذه الطبعة هي للأشخاص الذين يستطيعون القراءة والتهجئة. للحصول على إصدارات لغير القراء، اللغات الأجنبية، وطبعة الجيب، وزيارة<b>acecent.re/speakbook</b></p>
<h2 class="fsize-6">تعليمات الاستخدام.</h2>
<p>لتبدأ، ستحتاج. وspeakbook، أسود، قلم السبورة غير الدائمين، قطعة قماش لفرك بها، وشريك التحدث.</p>
<p>أنت وشريك يتحدث بك الجلوس عكس بعضها البعض نحو ثلاثة أقدام بعيدا. اعتمادا على البصر، قد تجد أنه من المفيد لخفض أو زيادة هذه المسافة. فتح speakbook إلى صفحة التدريب داخل الغطاء الخلفي. يتم تعبئة هذا في سبق لمساعدتك على تعلم هذه التقنية الأساسية. عند "لقد أتقن ذلك، يمكنك إرسال صفحاتك الخاصة، وذلك باستخدام تلك فارغة المقدمة. طي ظهر كتاب عن نفسها وعقد ليصل بينك، لذلك كنت على حد سواء تواجه "صفحة التدريب"، ويمكنك ان ترى كل عيون الآخرين من خلال ثقب في الوسط. أنت الآن ننظر في الخيارات على الصفحة لاتخاذ قرار واحد للاتصال. عند "لقد قررت، كنت تشير إلى شريك حياتك أن تكون مستعدا لبدء
- وهذا يمكن أن يكون من خلال النظر في شريك حياتك وامض، أو عن طريق الهز عينيك صعودا وهبوطا - أيا كان يناسبك. بعد ذلك ننظر في الرسالة التي تريدها، لثانية أو نحو ذلك، يليه رمز كبير نفس واحدة صغيرة على جانب الرسالة. شريك حياتك ثم يتبع حركات العين الخاص بك - على سبيل المثال انه قد نرى ان كنت قد نظرت في أعلى الجانب الأيسر من لوحة تليها مثلث كبير، لذلك فهو يعرف أنه يجب أن أقول "كوب من الشاي!". ثم يقول: "كوب من الشاي!" بصوت عال، ويجب تأكيد هذا مع طرفة، أو بعض أخرى إشارة رتبت مسبقا</p>
<p>هذا هو الأسلوب الأساسي لاستخدام speakbook. والآن أنت بحاجة لمعرفة كيفية استخدام صفحات أخرى في الكتاب، لأن العبقرية الحقيقية من الأكاذيب speakbook في قدرته على إعطاء لك سهولة الوصول إلى مئات من العبارات التي تختارها الخاصة، العبارات التي يمكن أن تتغير في أي وقت، مع فقط قطعة قماش مبللة وبجرة قلم.</p>
:::
::: slot inst-02-flt-left-label
<div class="pos-rel fill-height fill-width">
  <img class="abs-fill-parent" :src="$withBase('/speakbook/shapes/inst-02-left-label-bkg.svg')">
  <div class="fsize-8 abs-at-center" style="transform: translate(calc(-50% - 5mm), calc(-50% - 5mm)) rotate(-45deg); color: white;width: 42mm;text-align: center;">{{ $page.frontmatter.text.instructions }}</div>
</div>
:::
::: slot inst-02-flt-left-content
<div class="flex-h" style="padding: 3mm;">
  <div class="flex-grow-1 flex-v">
    <img class="m-1" style="width: 57.5mm; height: 79.7mm; box-sizing: border-box;" :src="$withBase('/speakbook/images/02.png')"  />
    <img class="m-1" style="width: 57.5mm; height: 79.7mm; box-sizing: border-box;" :src="$withBase('/speakbook/images/03.png')"  />
  </div>
  <Content slot-key="cut-out-center-guide" />
</div>
:::
::: slot inst-02-content
<p>كل صفحة من speakbook ديها 14 أو 15 أقسام فارغة حيث يمكنك كتابة النص الخاص بك. من أجل أن يمكن للمستخدم التنقل بين الصفحات المختلفة، أنشأنا "الوطن" صفحة. تم العثور على هذا في مقدمة الكتاب، ويظهر على هيئة أسود "الوطن" التبويب في حافة الصفحة. والفكرة هي أن تكتب 7 العبارات التي تستخدم أكثر من غيرها في هذه الصفحة، كما هو الصفحة التي تبدأ على الدوام. أيضا، في 8 من شرائط فارغة تكتب روابط لغيرها من 8 صفحات مزدوجة فارغة. يجب أن تكون هذه الأجزاء من حياتك التي تتطلب أكثر في عمق مجموعة من العبارات، قد تكون هذه المناطق مثل bathtime، أو الخروج في السيارة. على اليسار هو مثال على تخطيط الممكن لل"الوطن" صفحة. الكلمات 8 بحروف عريضة وصلات إلى هوامش الصفحة مزدوج في مكان آخر في الكتاب. ما عليك فعله هو، تجد صفحة فارغة والكتابة، على سبيل المثال، "BED" في علامة التبويب الحافة، ثم على شرائط تكتب ال 14 العبارات الأكثر ملاءمة لروتين وقت النوم الخاصة بك. ثم يمكنك تكرار هذه العملية لأخرى 7 وصلات، حتى كتابك ممتلئ. إذا قمت بخطأ ما، أو ترغب في تغيير العبارة، ثم امسح فقط تشغيله بقطعة قماش مبللة والبدء من جديد.</p>
<p>استخدام speakbook، كنت تشير إلى شريكك الذي تريد التواصل. شريك حياتك يفتح speakbook إلى "الوطن" صفحة ويمكنك التواصل، على سبيل المثال، "BED". ثم يتحول شريك حياتك إلى "BED" صفحة ويمكنك بعد ذلك التواصل، "أريد أن أذهب إلى السرير" - أو أيا كان. كل صفحة لها "الوطن" و "موجة" مطبوعة مسبقا على ذلك. "الوطن" هو بحيث يمكنك أن تحصل دائما العودة إلى "الوطن" صفحة (قد ترغب في "كأس من الشاي!" على النزول الى السرير معك). و"موجة" الصفحة تسمح لك لتوضيح الكلمات والعبارات الفردية التي دون "تي تظهر في أي مكان آخر في الكتاب. وهو يعمل بطريقة مماثلة لصفحات أخرى، مع فارق واحد. في هذه الصفحة هناك 6 القطع الملونة، ولكل منها 6 حروف أو أرقام ملونة على ذلك. الأبجدية كلها هناك، بالإضافة إلى أرقام 1-9 (صفر استخدام الحرف O). نظرتم الى الرسالة التي ترغب في التواصل، لثانية واحدة أو نحو ذلك، تليها كتلة اللون من نفس لون الرسالة التي اخترتها. شريك حياتك يتبع عينيك، ويرى أن كنت قد نظرت، على سبيل المثال، أعلى كتلة اليسار يليه أعلى كتلة اليمين (والذي هو الأخضر)، ويعلم أنك تريد "C". يقول شريك حياتك "C" بصوت عال إلى تأكيد، ويمكنك الانتقال إلى الحرف التالي. شريك حياتك التخمينات بقية كلمة عندما يكون ذلك ممكنا، لتسريع عملية حتى.</p>
<p>Speakbook يتسع ل 119 جمل من اختيارك. إذا كان هذا لا يكفي، أو إذا كنت تحتاج إلى أكثر من 14 العبارات في مقطع واحد معين، ثم يمكنك مضاعفة قدرتها من خلال كتابة جملتين في كل سطر، واحدة في قلم أسود، واحدة باللون الأحمر. اخترت عبارة السوداء بالطريقة العادية، واحدة حمراء وامض من قبل عندما نظرتم الى رمز كبير.</p>
:::
