::: slot inst-01-flt-right-content
<div class="abs-fill-parent flex-h" style="align-items: flex-end;">
  <div class="flex-grow-1"></div>
  <div class="flex-v">
    <img class="m-1" style="width: 58.5mm; height: 79.7mm; box-sizing: border-box;" :src="$withBase('/speakbook/images/01.png')"  />
    <div class="m-1 p-1 flex-grow-1 flt-box" style="width: 57.5mm; min-height: 79.7mm; box-sizing: border-box;">
      <h3 class="my-1 fsize-5">Как да пишете в Книгата за разговор</h3>
      <p class="my-2 fsize-4_5">Какво точно ще напишете в тази книга зависи от индивидуалните интереси и нужди. Но е важно на двете страници, които се виждат едновременно при отваряне на албума, да пише едни и същи неща и страниците да са огледални образи една на друга - както в примера отгоре. Двамата със събеседника Ви говорите разлчини езици? Няма проблем - използвайте различен език на двете страници.</p>
    </div>
  </div>
</div>
:::
::: slot inst-01-content
<div class="p-1 text-center">
  <SpeakBookTextFourColorBkg class="speakbook-title fsize-10 p-1 bold" :text="$page.frontmatter.text.SPEAKBOOK"></SpeakBookTextFourColorBkg>
</div>
<p>Книгата за разговор е средство за невербална комуникация за хора, които не могат говорят и имат трудности да използват ръцете си, но могат да използват погледа си. Това издание е за хора, които могат да четат и пишат. За версии за хора, които не могат да четат, за версии на други езици или за джобни издания, посетете  <b>acecent.re/speakbook</b></p>
<h2 class="fsize-6">Инструкции за употреба.</h2>
<p>За да започнете, трябва да имате тази Книга за разговор, черен неперманентен (изтриваем) маркер, кърпа за изтриване, събеседник.</p>
<p>
Вие и събеседникът Ви стоите един срещу друг на разстояние около 1 метър. Ако се налага, може да увеличите или да намалите разстоянието. Книгата за разговор трябва да е отворена на страницата за упражнение, която е преди задната корица. Тя е предварително попълнена, за да може да разберете основната техника. Когато я усвоите, може да създадете собствени страници, използвайки празните страници. Книгата трябва да е сгъната и поставена между вас, така че и двамата да виждате "страница за упражнение" и да виждате очите си през отвора в средата. Виждате изборите на страницата и решавате кой от тях искате да предадете на събеседника. Когато решите, дайте знак на събеседника, че сте готов да започнете - напр. чрез поглеждане, мигане, поглеждане нагоре и надолу или нещо друго. След това погледнете съобщението, което е избрано, за около секунда, след което погледнете големия символ, който отговаря на малкия, който е отстрани до съобщението. Събеседникът проследява погледа Ви - напр. може да види, че поглеждате горе вляво и след това - към големия триъгълник. Така той разбира, че искате да кажете "Чаша чай!" и казва това на глас, а Вие потвърждавате с мигане или друг предварително уговорен знак. 
</p>
<p>Това е основната техника за използване на Книгата за разговор. Сега трябва да разберете как да използвате останалите страници в книгата, тъй като истинската сила на Книгата за разговор е в способността й да дава достъп до стотици фрази по Ваш избор, фрази, които може да променяте по всяко време, само с помощта на кърпа за изтриване и маркер.</p>
:::

::: slot inst-02-flt-right-label
<div class="pos-rel fill-height fill-width">
  <img class="abs-fill-parent" :src="$withBase('/speakbook/shapes/inst-02-right-label-bkg.svg')" />
  <div class="fsize-8 abs-at-center" style="transform: translate(calc(-50% + 5mm), calc(-50% - 5mm)) rotate(45deg); color: white;width: 42mm;text-align: center;">{{ $page.frontmatter.text.instructions }}</div>
</div>
:::
::: slot inst-02-flt-left-content
<div class="flex-h" style="padding: 3mm;">
  <div class="flex-grow-1 flex-v">
    <img class="m-1" style="width: 57.5mm; height: 79.7mm; box-sizing: border-box;" :src="$withBase('/speakbook/images/02.png')"  />
    <img class="m-1" style="width: 57.5mm; height: 79.7mm; box-sizing: border-box;" :src="$withBase('/speakbook/images/03.png')"  />
  </div>
  <Content slot-key="cut-out-center-guide" />
</div>
:::
::: slot inst-02-content
<p>Всяка страница от Книгата за разговор има 14 или 15 празни полета, в които можете да се напише собствен текст. За да може да се сменят страниците, сме създали страница, наречена "НАЧАЛО". Тя се намира в началото на книгата и е обозначена с черен показалец "НАЧАЛО" в края на страницата. Идеята е да се напишат 7 най-често използвани фрази на тази страница, тъй като винаги започвате тук. Има и 8 празни полета, в които се изписват наименованията на остана  лите 8 двойни страници. Това са области от живота, които изискват набор от фрази, напр. къпане или пътуване с кола. Отляво има пример за възможна начална страница. Осемте думи, изписани с главни букви, са връзки към двойни страници в тази книга. Трябва да намерите празна страница и да напишете например "СПАНЕ" върху показалеца отдолу, след което в празните полета се изписват14-те най-важни фрази, свързани с навиците Ви преди лягане. Повтаряте това за останалите 7 връзки, докато книгата се запълни. Ако нещо е сгрешено или ако искате да промените някоя фраза, просто тя се изтрива и се изписва това, което искате.</p>
<p>За да използвате Книгата за разговор, давате знак на събеседника си, че искате да кажете нещо. Събеседникът Ви отваря Книгата за разговор на страницата "НАЧАЛО" и Вие избирате напр. "СПАНЕ". Събеседникът Ви отваря страницата "СПАНЕ" и Вие можете да кажете "Искам да спя" или нещо друго. Всяка страница има предварително отпечатани ""НАЧАЛО" и "БУКВИ". С "НАЧАЛО" винаги може да се върнете на страница "НАЧАЛО" (Може да искате "Чаша чай!" в леглото). </p>
<p>На страницата "БУКВИ" може да съставяте буква по буква думи и фрази, които не са в книгата. Тя се използва по същия начин като като останалите страници, но има и една разлика. На тази страница има 6 цветни блока, всеки от тях е с 6 цветни букви или цифри. Тук е цялата азбука и някои цифри.  Погледнете буквата, която искате да изберете, след това погледнете цветния блок със същия цвят като желаната буква. Партньорът следи погледа и вижда какво избирате, например, горния ляв блок и след това горния десен блок (зелено) и разбира, че искате да изберете буквата "В". Събеседникът казва "В" на глас за потвърждение и Вие продължавате със следващата буква. Събеседникът може да отгатне останалата част от думата, за да става по-бързо.</p>
<p>Книгата за разговор има място за 119 фрази. Ако това не е достатъчно или ако искате да има повече от 14 фрази в дадена секция, може да се изписват по 2 фрази във всяка кутийка - една с черен и една с червен маркер. Черната фраза се избира по обичайния начин, а червената фраза се избира чрез мигане  докато се гледа към големия символ. </p>
:::
